<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Perfil</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding="">
    <form style="display: block; max-width: 550px; height: auto; margin-left: auto; margin-right: auto;">
        <div>
            <img src="{{ profilePicture }}" 
            style="display: block; width: 150px; height: auto; margin-left: auto; margin-right: auto;">
            <h4 class="text center">{{ user }}</h4>
            <h6 class="text center">{{ email }}</h6>
        </div><br/>
        <ion-list no-lines >
            <button ion-item (click)="updateClient()">
                <ion-icon name="md-happy" item-start></ion-icon>Editar Perfil
            </button>
            <button ion-item (click)="changePassword()">
                <ion-icon name="md-lock" item-start></ion-icon>Cambiar Contraseña
            </button>
        </ion-list>
    </form>
</ion-content>