<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Motivaciones</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="+membresiaClient >= +nivelMembresia">
    <div *ngFor="let x of table">
    <ion-item *ngIf="x.state == '2'" (click)="openForm(x.id)">
      <div item-start>
        <img class="image-blog" *ngIf="x.picture"
        src="{{ x.picture }}">
      </div>
      <h2>{{ x.title }}</h2>
      <p class="contenido">{{ x.description }}</p>
    </ion-item>
    </div>
  </ion-list>
</ion-content>