<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
  <!-- ION TOOLBAR -->
  <ion-toolbar *ngIf="parameter" color="{{ navColor!=null?navColor:'primary' }}">
    <ion-segment [(ngModel)]="selectItem" color="white">
      <ion-segment-button value="actualizar">
        Actualizar
      </ion-segment-button>
      <ion-segment-button value="detalle">
        Detalles
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form *ngIf="selectItem == 'actualizar'" (ngSubmit)="saveChanges()" padding>
    <!--<ion-slides>
      <!-- IMAGEN PRINCIPAL
      <ion-slide *ngIf="data.picture">
        <div>
          <img src="{{ data.picture }}" id="imgAvatar" alt="Avatar" class="image-slides">
        </div>
        <!-- ENVIAR IMAGEN 
        <div class="upload-btn-wrapper">
          <button ion-button block icon-start outline>
            <ion-icon ios="ios-image" md="md-image"></ion-icon>Subir Imagen Principal
          </button>
          <input class="input-img" type="file" id="avatar" (change)="uploadImage($event,'avatar')"/>
        </div>
      </ion-slide>

      <!-- IMAGEN SECUNDARIA 1
      <ion-slide *ngIf="picture1">
        <div >
          <img src="{{ picture1 }}" id="imgAvatar1" alt="Avatar" class="image-slides">
        </div>
        <!-- ENVIAR IMAGEN --
        <div class="upload-btn-wrapper">
          <button ion-button block icon-start outline>
            <ion-icon ios="ios-image" md="md-image"></ion-icon>Subir Imagen Secundaria
          </button>
          <input class="input-img" type="file" id="avatar1" (change)="uploadImages($event,'avatar1', 'imgAvatar1', product.idPic1)"/>
        </div>
      </ion-slide>

      <!-- IMAGEN SECUNDARIA 2
      <ion-slide *ngIf="picture2">
        <div >
          <img src="{{ picture2 }}" id="imgAvatar2" alt="Avatar" class="image-slides">
        </div>
        <!-- ENVIAR IMAGEN 
        <div class="upload-btn-wrapper">
          <button ion-button block icon-start outline>
            <ion-icon ios="ios-image" md="md-image"></ion-icon>Subir Imagen Secundaria
          </button>
          <input class="input-img" type="file" id="avatar2" (change)="uploadImages($event,'avatar2', 'imgAvatar2', product.idPic2)"/>
        </div>
      </ion-slide>

      <!-- IMAGEN SECUNDARIA 3 
      <ion-slide *ngIf="picture3">
        <div>
          <img src="{{ picture3 }}" id="imgAvatar3" alt="Avatar" class="image-slides">
        </div>
        <!-- ENVIAR IMAGEN 
        <div class="upload-btn-wrapper">
          <button ion-button block icon-start outline>
            <ion-icon ios="ios-image" md="md-image"></ion-icon>Subir Imagen Secundaria
          </button>
          <input class="input-img" type="file" id="avatar3" (change)="uploadImages($event,'avatar3', 'imgAvatar3', product.idPic3)"/>
        </div>
      </ion-slide>
    </ion-slides>-->
    <div>
      <img src="{{ data.picture }}" id="imgAvatar" alt="Avatar" class="image-slides">
      </div>
      <!--IMAGEN-->
      <div class="upload-btn-wrapper2" *ngIf="data.id">
        <button ion-button icon-start type="button">
          <ion-icon ios="ios-image" md="md-image"></ion-icon>
          Subir Imagen
        </button>
      <input type="file" id="avatar" (change)="uploadImage($event,'avatar')"/>
    </div>
    <!--TITULO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Título</ion-label>
      <ion-input type="text" name="name" [(ngModel)]="data.title" required>
      </ion-input>
    </ion-item>
    <!--DESCRIPCION-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Descripción</ion-label>
      <ion-textarea type="text" maxlength="255" name="description" [(ngModel)]="data.description" required rows="1" autosize>
      </ion-textarea>
    </ion-item>
    <!--YOUTUBE-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-link" md="md-link"></ion-icon>  Link Externo</ion-label>
      <ion-input type="text" name="video" [(ngModel)]="data.video">
      </ion-input>
    </ion-item>
    <button ion-button block type="submit" icon-start [disabled]="disabledBtn">
      <ion-icon ios="ios-archive" md="md-archive"></ion-icon>
      Guardar Cambios
    </button>
    <button *ngIf="data.id" ion-button block type="button" color="danger" icon-start (click)="delete(data.id)">
      <ion-icon ios="ios-trash" md="md-trash"></ion-icon>Eliminar
    </button>
  </form>

  <div *ngIf="selectItem == 'detalle'">
    <div *ngIf="data.picture" id='iframe'>
      <img class="image-slides2" [src]="data.picture | sanitizer">
    </div>

    <!-- INFORMACION -->
    <div>
      <h2 class="text center" *ngIf="data.title">{{data.title}}</h2>
      <p class="text center" *ngIf="data.description">{{data.description}}
      </p>
    </div>

    <div *ngIf="data.video" padding>
    <button ion-button block type="button" icon-start (click)="openBrowser(data.video)">
      <ion-icon ios="ios-link" md="md-link"></ion-icon>
      Link Externo
    </button>
    </div>

  </div>
  
</ion-content>