<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Datos de Entrega</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form padding>
    <!--TITULO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Comentarios</ion-label>
      <ion-input type="text" name="name" required>
      </ion-input>
    </ion-item>
    <!--DESCRIPCION-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Entrega a Tiempo</ion-label>
      <ion-textarea type="text" name="description" required>
      </ion-textarea>
    </ion-item>
    <ion-item>
        <ion-label><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon> Fecha Entrega</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY"></ion-datetime>
      </ion-item>

    <button ion-button block type="submit" icon-start [disabled]="disabledBtn">
      <ion-icon ios="ios-archive" md="md-archive"></ion-icon>
      Guardar Cambios
    </button>
  </form>
</ion-content>