<ion-header>
  <ion-navbar color="admin">
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-row class="logo-row" *ngIf="product.picture!=null">
            <ion-col></ion-col>
            <ion-col width-67>
            <img src="{{product.picture}}" id="imgAvatar" alt="Avatar" style="width:100%;"/>
            </ion-col>
            <ion-col></ion-col>
          </ion-row>
          <!--IMAGEN-->
          <ion-item>
            <input type="file" id="avatar" (change)="uploadImage($event,'avatar')"/>
          </ion-item>
          <!--NOMBRE-->
          <ion-item>
            <ion-label floating>Nombre</ion-label>
            <ion-input type="text"
            [(ngModel)]="product.name" name="name">
            </ion-input>
          </ion-item>
          <!--DESCRIPCION-->
          <ion-item>
            <ion-label floating>Descripción</ion-label>
            <ion-textarea type="text"
            [(ngModel)]="product.description" name="description">
            </ion-textarea>
          </ion-item>
          <!--PRECIO-->
          <ion-item>
            <ion-label floating>Precio</ion-label>
            <ion-input type="text"
            [(ngModel)]="product.price" name="price" >
            </ion-input>
          </ion-item>
          <!--CANTIDAD-->
          <ion-item>
            <ion-label floating>Cantidad</ion-label>
            <ion-input type="text"
            [(ngModel)]="product.quantity" name="quantity">
            </ion-input>
          </ion-item>
          <!--COSTO-->
          <ion-item>
            <ion-label floating>Costo</ion-label>
            <ion-input type="text"
            [(ngModel)]="product.cost" name="cost"
            ></ion-input>
          </ion-item>
          <!--CATEGORIA-->
          <ion-item>
            <ion-label>Categoría</ion-label>
            <ion-select [(ngModel)]="product.category">
                <ion-option *ngFor="let c of categories" value="{{c.id}}">{{c.name}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <button ion-button full color="primary" (click)="update()">
        Guardar
      </button>
    </ion-row>
  </ion-grid>
</ion-content>