<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <ion-title>Más Configuraciones</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="update()">
    <ion-item>
      <ion-label floating><ion-icon ios="logo-usd" md="logo-usd"></ion-icon>  Tipo de Moneda</ion-label>
      <ion-select [(ngModel)]="data.opcion1" name="opcion1">
        <ion-option value="Q"><strong>Q</strong> Quetzal</ion-option>
        <ion-option value="$"><strong>$</strong> Dólar</ion-option>
        <ion-option value="€"><strong>€</strong> Euro</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating><ion-icon ios="ios-home" md="md-home"></ion-icon>  Inicio de App</ion-label>
      <ion-select [(ngModel)]="data.opcion2" name="opcion2">
        <ion-option value="1"> Categorías</ion-option>
        <ion-option value="2"> Productos</ion-option>
        <ion-option value="3"> Pedidos</ion-option>
        <ion-option value="4"> Eventos</ion-option>
        <ion-option value="5"> Youtube</ion-option>
        <ion-option value="6"> En vivo</ion-option>
        <ion-option value="7"> Tips</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating><ion-icon ios="ios-color-fill" md="md-color-fill"></ion-icon>  Color de App</ion-label>
      <ion-select [(ngModel)]="data.color" name="color">
        <ion-option value="primary">Predeterminado</ion-option>
        <ion-option value="rojo">Rojo</ion-option>
        <ion-option color="rojooscuro" value="rojooscuro">Rojo Oscuro</ion-option>
        <ion-option value="azul">Azul</ion-option>
        <ion-option value="azulmarino">Azul Marino</ion-option>
        <ion-option value="celeste">Celeste</ion-option>
        <ion-option value="purpura">Púrpura</ion-option>
        <ion-option value="moradooscuro">Morado Oscuro</ion-option>
        <ion-option value="verdeoscuro">Verde Oscuro</ion-option>
        <ion-option value="verdelimon">Verde Limón</ion-option>
        <ion-option value="amarillo">Amarillo</ion-option>
        <ion-option value="amarillooscuro">Amarillo Oscuro</ion-option>
        <ion-option value="naranja">Naranja</ion-option>
        <ion-option value="marron">Marrón</ion-option>
        <ion-option value="crema">Crema</ion-option>
        <ion-option value="vainilla">Vainilla</ion-option>
        <ion-option value="gris">Gris</ion-option>
        <ion-option value="grisoscuro">Gris Oscuro</ion-option>
        <ion-option value="grisazulado">Gris Azulado</ion-option>
        <ion-option value="negro">Negro</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-navbar color="{{ data.color }}">
        <ion-title>Prueba de Color</ion-title>
      </ion-navbar>
    </ion-item>
    <ion-item>
      <ion-label floating><ion-icon ios="ios-color-fill" md="md-color-fill"></ion-icon>  Color de Botones</ion-label>
      <ion-select [(ngModel)]="data.color_button" name="color_button">
        <ion-option value="rojo">Rojo</ion-option>
        <ion-option color="rojooscuro" value="rojooscuro">Rojo Oscuro</ion-option>
        <ion-option value="azul">Azul</ion-option>
        <ion-option value="azulmarino">Azul Marino</ion-option>
        <ion-option value="celeste">Celeste</ion-option>
        <ion-option value="purpura">Púrpura</ion-option>
        <ion-option value="moradooscuro">Morado Oscuro</ion-option>
        <ion-option value="verdeoscuro">Verde Oscuro</ion-option>
        <ion-option value="verdelimon">Verde Limón</ion-option>
        <ion-option value="amarillo">Amarillo</ion-option>
        <ion-option value="amarillooscuro">Amarillo Oscuro</ion-option>
        <ion-option value="naranja">Naranja</ion-option>
        <ion-option value="marron">Marrón</ion-option>
        <ion-option value="crema">Crema</ion-option>
        <ion-option value="vainilla">Vainilla</ion-option>
        <ion-option value="gris">Gris</ion-option>
        <ion-option value="grisoscuro">Gris Oscuro</ion-option>
        <ion-option value="grisazulado">Gris Azulado</ion-option>
        <ion-option value="negro">Negro</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <button ion-button block large type="button" color="{{ data.color_button }}">
        Prueba de Color
      </button>
    </ion-item>    
    <button ion-button block type="submit" color="{{ btnColor!=null?btnColor:'primary' }}" [disabled]="btnDisabled" icon-start>
      <ion-icon ios="ios-archive" md="md-archive"></ion-icon>
      Guardar Cambios
    </button>
  </form>
</ion-content>

