<ion-content *ngIf="pictureLogin" [ngStyle]="{'background-image':'url(' + pictureLogin + ')'}" style="background: center; background-size: cover;" padding>
  <form style="display: block; max-width: 500px; height: auto; margin-left: auto; margin-right: auto;" (ngSubmit)="logIn()">
    <div>
      <img *ngIf="baseUser" src="{{baseUser.picture}}"
      style="display: block; width: 125px; height: auto; margin-left: auto; margin-right: auto; padding-bottom: 6%;">
      <img *ngIf="!baseUser" src="http://foxylabs.xyz/Documentos/imgs/logo.png"
      style="display: block; width: 125px; height: auto; margin-left: auto; margin-right: auto;  padding-bottom: 6%;">
    </div>
    <ion-list no-lines>
      <ion-item class="item item-trns">
        <ion-label style="color: white;" floating><ion-icon ios="ios-person" md="md-person"></ion-icon>  Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="user.username" name="username"></ion-input>
      </ion-item>
      <ion-item class="item item-trns">
        <ion-label style="color: white;"  floating><ion-icon ios="ios-lock" md="md-lock"></ion-icon>  Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="user.password" name="password"></ion-input>
      </ion-item>
      <div class="item item-trns" padding>
        <button color="{{ btnColor!=null?btnColor:'danger' }}" ion-button block type="submit" [disabled]="btnDisabled">Iniciar Sesión</button>
      </div>
    </ion-list>
    <a class="btn-white" ion-button block clear (click)="resetPassword()" >¿Olvidaste tu contraseña?</a>
    <a class="btn-white" ion-button block clear (click)="createAccount()" >Crear una nueva cuenta</a>
  </form>
</ion-content>

<ion-content *ngIf="!pictureLogin" style="background: url('http://foxylabs.xyz/Documentos/imgs/Zapatos.jpg') center; background-size: cover;" padding>
  <form style="display: block; max-width: 500px; height: auto; margin-left: auto; margin-right: auto;" (ngSubmit)="logIn()">
    <div>
      <img *ngIf="baseUser" src="{{baseUser.picture}}"
      style="display: block; width: 350px; height: auto; margin-left: auto; margin-right: auto; padding-bottom: 6%;">
      <img *ngIf="!baseUser" src="http://foxylabs.xyz/Documentos/imgs/logo.png"
      style="display: block; width: 350px; height: auto; margin-left: auto; margin-right: auto;  padding-bottom: 6%;">
    </div>
    <ion-list no-lines >
      <ion-item class="item item-trns">
        <ion-label style="color: white;" floating><ion-icon ios="ios-person" md="md-person"></ion-icon>  Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="user.username" name="username"></ion-input>
      </ion-item>
      <ion-item class="item item-trns">
        <ion-label style="color: white;" floating><ion-icon ios="ios-lock" md="md-lock"></ion-icon>  Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="user.password" name="password"></ion-input>
      </ion-item>
      <ion-item class="item item-trns">
        <button color="{{ btnColor!=null?btnColor:'danger' }}" ion-button full type="submit" [disabled]="btnDisabled">Iniciar Sesión</button>
      </ion-item>
    </ion-list>
    <a class="btn-white" ion-button block clear (click)="resetPassword()" >¿Olvidaste tu contraseña?</a>
    <a class="btn-white" ion-button block clear (click)="createAccount()" >Crear una nueva cuenta</a>
  </form>
</ion-content>
