<!-- All Playlist Video Items  -->

<!-- Header  -->
<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{totalResults}} Playlist Items</ion-title>
  </ion-navbar>
</ion-header>

<!-- Content  -->
<ion-content>
  <div *ngIf="videos && videos.length">

    <!-- List of Playlist  -->
    <ion-card *ngFor="let video of videos" (tap)="openVideo(video)">

      <!-- Video Image Thumbnails -->
      <img [src]="video.snippet.thumbnails.medium.url">

      <!-- Play Button  -->
      <ion-fab right>
        <button ion-fab color="youtube">
          <ion-icon name="logo-youtube" color="white"></ion-icon>
        </button>
      </ion-fab>

      <!-- Video Published Date -->
      <ion-item>
        <ion-icon name="clock" color="color1"></ion-icon>
        <span> &nbsp; &nbsp; {{video.snippet.publishedAt | date }}</span>
      </ion-item>

      <!-- Title of Video -->
      <ion-item text-wrap>
        {{video.snippet.title}}
      </ion-item>
    </ion-card>
  </div>

  <!--  Infinite Scroll -->
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" distance="10%">
    <ion-infinite-scroll-content *ngIf="!finished" loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>