<ion-header>
  <ion-navbar color="">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cobradores</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let x of data" (click)="openCobros(x.id)">
    <ion-avatar item-start>
      <ion-icon ios="ios-person" md="md-person"></ion-icon>
    </ion-avatar>
    <h2>{{ x.nombre }}</h2>
    <p>{{ x.correo }}</p>
    <p>{{ x.telefono }}</p>
  </ion-item>

  <!-- BOTON AGREGAR -->
  <ion-fab right bottom>
    <button ion-fab (click)="openForm()">
      <ion-icon ios="ios-add" md="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>