<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Personalizar</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--IMAGEN DE LOGIN-->
  <h3>Imagen de Login</h3>
  <hr>
  <div class="upload-btn-wrapper">
    <button ion-button icon-start>
      <ion-icon ios="ios-image" md="md-image"></ion-icon>
      Subir Imagen
    </button>
    <input type="file" id="avatar1" (change)="uploadImage1($event,'avatar1')"/>
  </div>
  <div *ngIf="profilePicture1">
    <img src="{{ profilePicture1 }}" id="imgAvatar1" alt="Avatar"
    style="display: block; width: 600px; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <div *ngIf="!profilePicture1">
    <img src="http://foxylabs.xyz/Documentos/imgs/Zapatos.jpg" id="imgAvatar1" alt="Avatar"
    style="display: block; width: 600px; height: auto; margin-left: auto; margin-right: auto;">
  </div>

  <!--IMAGEN DE CATEGORIA-->
  <h3>Imagen de Categorías</h3>
  <hr>
  <div class="upload-btn-wrapper">
    <button ion-button icon-start>
      <ion-icon ios="ios-image" md="md-image"></ion-icon>
      Subir Imagen
    </button>
    <input type="file" id="avatar2" (change)="uploadImage2($event,'avatar2')"/>
  </div>
  <div *ngIf="profilePicture2">
    <img src="{{ profilePicture2 }}" id="imgAvatar2" alt="Avatar"
    style="display: block; width: 600px; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <div *ngIf="!profilePicture2">
    <img src="http://foxylabs.xyz/Documentos/imgs/Category.jpg" id="imgAvatar2" alt="Avatar"
    style="display: block; width: 600px; height: auto; margin-left: auto; margin-right: auto;">
  </div>

  <!--IMAGEN DE PORTADA-->
  <h3>Imagen de Portada</h3>
  <hr>
  <div class="upload-btn-wrapper">
    <button ion-button icon-start>
      <ion-icon ios="ios-image" md="md-image"></ion-icon>
      Subir Imagen
    </button>
    <input type="file" id="avatar3" (change)="uploadImage3($event,'avatar3')"/>
  </div>
  <div *ngIf="profilePicture3">
    <img src="{{ profilePicture3 }}" id="imgAvatar3" alt="Avatar"
    style="display: block; width: 600px; height: auto; margin-left: auto; margin-right: auto;">
  </div>
  <div *ngIf="!profilePicture3">
    <img src="http://foxylabs.xyz/Documentos/imgs/categories.jpg" id="imgAvatar3" alt="Avatar"
    style="display: block; width: 600px; height: auto; margin-left: auto; margin-right: auto;">
  </div>
</ion-content>
