<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>ZFIT Staff</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>      
    </ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="+membresiaClient >= +nivelMembresia">
    <div *ngFor="let x of staff">
    <button ion-item *ngIf="x.picture" (click)="openBrowser(x.picture)">
      <ion-thumbnail item-start>
        <img src="{{ x.users.picture }}">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ x.users.firstname }} {{ x.users.lastname }}</h2>
        <p>{{ x.puesto }}</p>
        <p>{{ x.description }}</p>
      </ion-label>
    </button>
    <button ion-item *ngIf="!x.picture">
      <ion-thumbnail item-start>
        <img src="{{ x.users.picture }}">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ x.users.firstname }} {{ x.users.lastname }}</h2>
        <p>{{ x.puesto }}</p>
        <p>{{ x.description }}</p>
      </ion-label>
    </button>
    </div>
  </ion-list>
</ion-content>
