<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Demo Maps</ion-title>
  </ion-navbar>
  <!-- ION TOOLBAR -->
  <ion-toolbar color="{{ navColor!=null?navColor:'primary' }}">
    <ion-segment [(ngModel)]="selectItem" color="white">
      <ion-segment-button value="mapa">
        Mapa
      </ion-segment-button>
      <ion-segment-button value="rutas">
        Mis Rutas
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div style="height: 80%;" id="map"></div>
  <!-- MAPS 
  <div  style="height: 80%;" id="map"></div>-->
  <div *ngIf="selectItem == 'rutas'" padding>
    <ion-item (click)="open()">
    <h6><ion-icon ios="ios-pin" md="md-pin"></ion-icon>  Punto A</h6><hr/>
    <p><strong>Dirección:</strong> 17 Av 7-26 Zona 14</p>
    <p><strong>Horario de Atencion:</strong> 10:00 - 11:00</p>
    <p><strong>Telefonos de Contacto:</strong> 23413541</p>
    </ion-item>
    <ion-item (click)="open()">
        <h6><ion-icon ios="ios-pin" md="md-pin"></ion-icon>  Punto B</h6><hr/>
        <p><strong>Dirección:</strong> 17 Av 7-26 Zona 14</p>
        <p><strong>Horario de Atencion:</strong> 08:00 - 10:00</p>
        <p><strong>Telefonos de Contacto:</strong> 23413541</p>
    </ion-item>    
  </div>
  <div *ngIf="selectItem == 'mapa'">
    <div padding-horizontal id="panel"></div>
  </div>
</ion-content>
