.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 32%;
    font-size: 1.4em;
    width: 100%;
    font-weight: lighter;
    color: #fff;
  }

  .card-subtitle {
    font-size: 0.6em;
    position: absolute;
    top: 55%;
    width: 100%;
    color: #fff;
  }

}