<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Categorías</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page" *ngIf="categorys">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>      
    </ion-refresher-content>
  </ion-refresher>

  <div class="w3-row">
    <div class="w3-half" *ngFor="let c of categorys">
      <ion-card (click)="seeProducts(c.id)">
        <img *ngIf="!c.picture" src="{{ pictureCategories }}"/>
        <img *ngIf="c.picture" src="{{ c.picture }}"/>
        <div *ngIf="c.state == 1" class="card-title">{{ c.name }}</div>
        <div *ngIf="c.state == 1" class="card-subtitle">{{ c.description }}</div>
      </ion-card>
    </div>
  </div>
</ion-content>
