<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Personalizar</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Imagen de Categorías</h3>
  <hr>
  <input type="file" id="avatar2" (change)="uploadImage2($event,'avatar2')"/>
  <img *ngIf="profilePicture2" src="{{profilePicture2}}" id="imgAvatar2" alt="Avatar" style="width:100%; height: 300px; margin-top:12px;"/>
  <img *ngIf="!profilePicture2" src="../../../assets/imgs/Category.jpg" id="imgAvatar2" alt="Avatar" style="width:100%; height: 300px; margin-top:12px;"/>
  <h3>Imagen de Portada</h3>
  <hr>
  <input type="file" id="avatar3" (change)="uploadImage3($event,'avatar3')"/>
  <img *ngIf="profilePicture3" src="{{profilePicture3}}" id="imgAvatar3" alt="Avatar" style="width:100%; height: 300px; margin-top:12px;"/>
  <img *ngIf="!profilePicture3" src="../../../assets/imgs/Categories.jpg" id="imgAvatar3" alt="Avatar" style="width:100%; height: 300px; margin-top:12px;"/>
</ion-content>