<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Adopciones de Perros</ion-title>
  </ion-navbar>
  <!-- ION TOOLBAR -->
  <ion-toolbar no-border-top  color="{{ navColor!=null?navColor:'primary' }}">
    <ion-segment [(ngModel)]="selectItem" color="white">
      <ion-segment-button value="proceso" (click)="getAll(idUser)">
        En Proceso
      </ion-segment-button>
      <ion-segment-button value="aceptadas" (click)="getAll(idUser)">
        Aceptadas
      </ion-segment-button>
      <ion-segment-button value="rechazadas" (click)="getAll(idUser)">
        Rechazada
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="selectItem == 'proceso'">
    <div *ngFor="let x of adoptionsDogs">
    <ion-item-sliding *ngIf="x.state == '3'">
      <ion-item>
        <ion-thumbnail item-start>
          <img src="https://png.pngtree.com/element_origin_min_pic/16/10/18/19580606d89666a.jpg">
        </ion-thumbnail>
        <h2>Encuesta No. {{ x.id }}</h2>
        <p>Falta Información...</p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="delete(x.id)">
          <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
          Eliminar
        </button>
        <button ion-button color="primary" (click)="openForm(x.id)">
          <ion-icon ios="ios-create" md="md-create"></ion-icon>
          Editar
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding *ngIf="x.state == '2'">
      <ion-item>
        <ion-thumbnail item-start>
          <img src="https://png.pngtree.com/element_origin_min_pic/16/10/18/19580606d89666a.jpg">
        </ion-thumbnail>
        <h2>Encuesta No. {{ x.id }}</h2>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="delete(x.id)">
          <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
          Eliminar
        </button>
        <button ion-button color="primary" (click)="openForm(x.id)">
          <ion-icon ios="ios-create" md="md-create"></ion-icon>
          Editar
        </button>
      </ion-item-options>
    </ion-item-sliding>
    </div>
  </ion-list>

  <div *ngIf="selectItem == 'aceptadas'">
    <ion-list>
      <div *ngFor="let x of adoptionsDogs1">
        <ion-item *ngIf="x.state == '1'">
          <ion-thumbnail item-start>
            <img src="https://png.pngtree.com/element_origin_min_pic/16/10/18/19580606d89666a.jpg">
          </ion-thumbnail>
          <h2>Encuesta No. {{ x.id }}</h2>
          <!--<button ion-button clear item-end icon-only (click)="sendEmailDog(x.id)">
            <ion-icon ios="ios-mail" md="md-mail"></ion-icon>
          </button>-->
        </ion-item>
      </div>
    </ion-list>
  </div>

  <div *ngIf="selectItem == 'rechazadas'">
    <ion-list>
      <div *ngFor="let x of adoptionsDogs2">
        <ion-item *ngIf="x.state == '0'">
          <ion-thumbnail item-start>
            <img src="https://png.pngtree.com/element_origin_min_pic/16/10/18/19580606d89666a.jpg">
          </ion-thumbnail>
          <h2>Encuesta No. {{ x.id }}</h2>
          <!--<button ion-button clear item-end icon-only (click)="sendEmailDog(x.id)">
            <ion-icon ios="ios-mail" md="md-mail"></ion-icon>
          </button>-->
        </ion-item>
      </div>
    </ion-list>
  </div>

  <!-- BOTON AGREGAR RETO -->
  <ion-fab right bottom *ngIf="selectItem == 'proceso'">
    <button ion-fab (click)="openForm()">
      <ion-icon ios="ios-add" md="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>