<ion-header>
  <ion-navbar color="">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Asignar Cobros</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let x of data" (click)="detailForm(x)">
    <ion-avatar item-start>
      <ion-icon ios="ios-map" md="md-map"></ion-icon>
    </ion-avatar>
    <h2>Dirección: {{ x.direccion }}</h2>
    <p>Monto: {{ x.monto }}</p>
    <p>Fecha de Pago: {{ x.fechaPago }}</p>
  </ion-item>
  
  <!-- BOTON AGREGAR -->
  <ion-fab right bottom>
    <button ion-fab (click)="openForm()">
      <ion-icon ios="ios-add" md="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>