<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mis Contactos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let u of users" (click)="sendMessage(u.id)">
      <ion-thumbnail item-start>
        <img src="{{ u.picture }}">
      </ion-thumbnail>
      <h2>{{ u.firstname }} {{ u.lastname }}</h2>
      <p>{{ u.email }}</p>
    </ion-item>
  </ion-list>

  <!-- <ion-fab right bottom>
    <button ion-fab (click)="sendMessage()">
      <ion-icon name="md-send"></ion-icon>
    </button>
  </ion-fab> -->

</ion-content>
