<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <ion-title>Cambiar Contraseña</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding="true" scroll="false" class="scroll-content ionic-scroll scroll-content-false has-header padding">
  <form style="display: block; max-width: 550px; height: auto; margin-left: auto; margin-right: auto;" (ngSubmit)="updatePassword()">
    <ion-list no-lines >
      <ion-item>
        <ion-label floating><ion-icon ios="ios-lock" md="md-lock"></ion-icon>  Contraseña Actual</ion-label>
        <ion-input type="text" [(ngModel)]="changePassword.old_pass" name="old_pass"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating><ion-icon ios="ios-lock" md="md-lock"></ion-icon>  Contraseña Nueva</ion-label>
        <ion-input type="text" [(ngModel)]="changePassword.new_pass" name="new_pass"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating><ion-icon ios="ios-lock" md="md-lock"></ion-icon>  Confirmar Contraseña</ion-label>
        <ion-input type="text" [(ngModel)]="changePassword.new_pass_rep" name="new_pass_rep"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button full type="submit" [disabled]="btnDisabled">Cambiar Contraseña</button>
  </form>
</ion-content>
