<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <ion-title>Editar Perfil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form style="display: block; max-width: 600px; height: auto; margin-left: auto; margin-right: auto;" (ngSubmit)="update()">
    <ion-row>
      <ion-col>
        <ion-list no-lines>
          <!-- IMAGEN DEL PERFIL-->
          <div *ngIf="profile.picture">
            <img src="{{ profile.picture }}" id="imgAvatar" alt="Avatar"
            style="display: block; width: 200px; height: auto; margin-left: auto; margin-right: auto;">
          </div>
          <!--IMAGEN-->
          <div class="upload-btn-wrapper">
            <button ion-button icon-start>
              <ion-icon ios="ios-image" md="md-image"></ion-icon>
              Subir Imagen de Perfil
            </button>
            <input type="file" id="avatar" (change)="uploadImage($event,'avatar')"/>
          </div>
          <!-- NICK DEL USUARIO -->
          <ion-item>
            <ion-label floating><ion-icon ios="ios-person" md="md-person"></ion-icon>  Nombre de Usuario</ion-label>
            <ion-input type="text"
            [(ngModel)]="profileUpdate.username" name="username">
            </ion-input>
          </ion-item>
          <!--CORREO ELECTRONICO -->
          <ion-item>
            <ion-label floating><ion-icon ios="ios-at" md="md-at"></ion-icon>  Correo Electrónico</ion-label>
            <ion-input type="email"
            [(ngModel)]="profileUpdate.email" name="email">
            </ion-input>
          </ion-item>
          <!-- NOMBRE DEL USUARIO -->
          <ion-item>
            <ion-label floating><ion-icon ios="ios-person" md="md-person"></ion-icon>  Nombres</ion-label>
            <ion-input type="text"
            [(ngModel)]="profileUpdate.firstname" name="firstname">
            </ion-input>
          </ion-item>
          <!-- APELLIDOS -->
          <ion-item>
            <ion-label floating><ion-icon ios="ios-person" md="md-person"></ion-icon>  Apellidos</ion-label>
            <ion-input type="text"
            [(ngModel)]="profileUpdate.lastname" name="lastname">
            </ion-input>
          </ion-item>
          <!-- DESCRIPCION -->
          <ion-item>
            <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Descripción</ion-label>
            <ion-textarea type="text"
            [(ngModel)]="profileUpdate.description" name="description">
            </ion-textarea>
          </ion-item>
          <!-- EDAD -->
          <ion-item>
            <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Edad</ion-label>
            <ion-input type="text"
            [(ngModel)]="profileUpdate.age" name="age">
            </ion-input>
          </ion-item>
          <!-- CUMPLEAÑOS -->
          <ion-item>
            <ion-label floating><ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>  Fecha de Nacimiento</ion-label>
            <ion-datetime displayFormat="DD MMM YYYY"
            [(ngModel)]="profileUpdate.birthday" name="birthday">
            </ion-datetime>
          </ion-item>
          <!-- TELEFONO -->
          <ion-item>
            <ion-label floating><ion-icon ios="ios-phone-portrait" md="md-phone-portrait"></ion-icon>  No. Teléfono</ion-label>
            <ion-input type="number"
            [(ngModel)]="profileUpdate.phone" name="phone">
            </ion-input>
          </ion-item>
          <!--TRABAJO -->
          <ion-item>
            <ion-label floating><ion-icon ios="ios-briefcase" md="md-briefcase"></ion-icon>  Trabajo</ion-label>
            <ion-input type="text"
            [(ngModel)]="profileUpdate.work" name="work">
            </ion-input>
          </ion-item>
          <!--TRABAJO -->
          <ion-item>
            <ion-label floating><ion-icon ios="logo-youtube" md="logo-youtube"></ion-icon>  ID Canal Youtube</ion-label>
            <ion-input type="text"
            [(ngModel)]="profileUpdate.facebook_id" name="facebook_id">
            </ion-input>
          </ion-item>
          </ion-list>
          <button ion-button block color="primary" type="submit" >
            Guardar Cambios
          </button>
      </ion-col>
      
    </ion-row>
    
  </form>
</ion-content>

