<ion-header *ngIf="parameter">
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <ion-title>Productos</ion-title>
  </ion-navbar>
  <ion-toolbar color="{{ navColor!=null?navColor:'primary' }}">    
    <ion-searchbar id="myInput" [(ngModel)]="search" autofocus 
    (ionChange)="searchTable()" (keyup)="searchTable()">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-header *ngIf="!parameter">
  <ion-toolbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <ion-searchbar id="myInput" [(ngModel)]="search" autofocus 
    (ionChange)="searchTable()" (keyup)="searchTable()">
    </ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>      
    </ion-refresher-content>
  </ion-refresher>

  <div class="w3-row">
    <div class="w3-half" *ngFor="let p of products" id="myList">
      <ion-card >
          <img style="display: block; width: auto; height: 250px; margin-left: auto; margin-right: auto;" src="{{p.picture}}"/>
          <ion-card-content >
              <ion-card-title>
              {{p.name}}
              </ion-card-title>
              <p style="height: 50px;">
              {{p.description}}
              </p>
          </ion-card-content>
          <ion-list no-lines>
            <button ion-item (click)="makeAnOrder(p.id)">
            <ion-icon ios="ios-cart" md="md-cart" item-start></ion-icon>
            Realizar Pedido
            </button>
            <button ion-item (click)="seeMore(p.id)">
            <ion-icon ios="ios-eye" md="md-eye" item-start></ion-icon>
            Ver Más
            </button>
        </ion-list>
      </ion-card>
    </div>
  </div>
</ion-content>