<ion-tabs selectedIndex="0">
  <ion-tab [root]="tab1Root" tabTitle="Perros" ios="ios-paw" tabIcon="md-paw"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Gatos" ios="logo-octocat" tabIcon="logo-octocat"></ion-tab>
</ion-tabs>
