<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Adopciones de Perros</ion-title>
  </ion-navbar>
  <!-- ION TOOLBAR -->
  <ion-toolbar no-border-top  color="{{ navColor!=null?navColor:'primary' }}">
    <ion-segment [(ngModel)]="selectItem" color="white">
      <ion-segment-button value="proceso" (click)="getAll(idUser, 2)">
        En Proceso
      </ion-segment-button>
      <ion-segment-button value="pendientes" (click)="getAll(idUser, 3)">
        Pendientes
      </ion-segment-button>
      <ion-segment-button value="aceptadas" (click)="getAll(idUser, 1)">
        Aceptadas
      </ion-segment-button>
      <ion-segment-button value="rechazadas" (click)="getAll(idUser, 0)">
        Rechazadas
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-list>
      <ion-item *ngFor="let x of adoptionsDogs" (click)="openForm(x.id)">
        <ion-thumbnail item-start>
          <img src="https://png.pngtree.com/element_origin_min_pic/16/10/18/19580606d89666a.jpg">
        </ion-thumbnail>
        <h2>Encuesta No. {{ x.id }}</h2>
        <!--<button ion-button clear item-end icon-only (click)="sendEmailDog(x.id)">
          <ion-icon ios="ios-mail" md="md-mail"></ion-icon>
        </button>-->
      </ion-item>
    </ion-list>
  </div>
</ion-content>