<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Encuesta No. {{ data.id}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="previousNext == 'page1'" >
    <!--NOMBRE MASCOTA-->
    <ion-item no-lines>
      <h6 ><ion-icon ios="ios-paw" md="md-paw"></ion-icon>  Nombre del Perrito</h6>
      <p text-uppercase>{{ data.nombreMascota }}</p>
    </ion-item>
    <!--COMPROMISO 1-->
    <ion-card-content >
      Me comprometo a: Proveerle agua limpia en todo momento y darle su ración de concentrado 2 veces al día.
    </ion-card-content>
    <ion-item no-lines>
      <ion-label>Acepto</ion-label>
      <ion-checkbox name="compromiso1" [(ngModel)]="data.compromiso1" disabled item-start></ion-checkbox>
    </ion-item>
    <!--COMPROMISO 2-->
    <ion-card-content >
      Me comprometo a: Que mi nueva mascota usará siempre un collar con su placa de identificación.
    </ion-card-content>
    <ion-item no-lines>
      <ion-label>Acepto</ion-label>
      <ion-checkbox name="compromiso2" [(ngModel)]="data.compromiso2" disabled item-start></ion-checkbox>
    </ion-item>
    <!--COMPROMISO 3-->
    <ion-card-content >
      Me comprometo a: <strong>Nunca</strong> golpear, maltratar, amarrar, abandonar ni regalar a mi 
      nueva mascota, y entiendo que hay maneras de educarlo sin recurrir a castigos físicos.
    </ion-card-content>
    <ion-item no-lines>
      <ion-label>Acepto</ion-label>
      <ion-checkbox name="compromiso3" [(ngModel)]="data.compromiso3" disabled item-start></ion-checkbox>
    </ion-item>
    <!--COMPROMISO 4-->
    <ion-card-content >
      Me comprometo a: Proveer a mi mascota con atención veterinaria en caso de enfermedad, 
      desparacitar y cumplir con el horario de vacunas anuales recomendadas por mi veterinario.
    </ion-card-content>
    <ion-item no-lines>
      <ion-label>Acepto</ion-label>
      <ion-checkbox name="compromiso4" [(ngModel)]="data.compromiso4" disabled item-start></ion-checkbox>
    </ion-item>
    <!--COMPROMISO 5-->
    <ion-card-content >
      Entiendo y autorizo que: Los dirigentes de DE CHUCHO A MASCOTA, pueden efectuar llamadas y 
      visitas a mi residencia periódicamente para asegurarse del bienestar de la mascota.
    </ion-card-content>
    <ion-item no-lines>
      <ion-label>Acepto</ion-label>
      <ion-checkbox name="compromiso5" [(ngModel)]="data.compromiso5" disabled item-start></ion-checkbox>
    </ion-item>
    <!--COMPROMISO 6-->
    <ion-card-content >
      Entiendo que yo: El adoptante, soy el responsable de guiar y educar a la mascota para 
      que haya una buena relación y que sea obediente. <strong>(sin usar castigos físicos y maltratos, educaré dignamente.)</strong>
    </ion-card-content>
    <ion-item no-lines>
      <ion-label>Acepto</ion-label>
      <ion-checkbox name="compromiso6" [(ngModel)]="data.compromiso6" disabled item-start></ion-checkbox>
    </ion-item>
    <!--COMPROMISO 7-->
    <ion-card-content >
      He tomado el tiempo para analizar el espacio que tengo en casa y el tipo y tamaño de la mascota que deseo adoptar.
    </ion-card-content>
    <ion-item no-lines>
      <ion-label>Acepto</ion-label>
      <ion-checkbox name="compromiso7" [(ngModel)]="data.compromiso7" disabled item-start></ion-checkbox>
    </ion-item>
    <!--COMPROMISO 8-->
    <ion-card-content >
      GASTOS Y DONACIÓN: Estoy enterado que en todas las adopciones de mascotas, debo cancelar trescientos Quetzales (Q300.00) 
      (perros), los cuales cubren los gastos de la castración de la mascota y vacuna de rabia de ser necesaria.  
      <strong>***No cubre vacuna múltiple, por lo que me comprometo a vacunar a mi mascota en un período no mayor a 10 días después de la adopción.</strong>
    </ion-card-content>
    <ion-item no-lines>
      <ion-label>Acepto</ion-label>
      <ion-checkbox name="compromiso8" [(ngModel)]="data.compromiso8" disabled item-start></ion-checkbox>
    </ion-item>
    <!--COMPROMISO 9-->
    <ion-card-content >
      Entiendo que: si no vacuno a mi perro con vacuna múltiple después de diez días de la adopción, mi perro puede enfermarse de 
      enfermedades como moquillo, etc. Al vacunar a mi mascota, estoy previniendo enfermedades y mucho sufrimiento a mi perrito, 
      y evitaré gastos médicos grandes, que vendrán a consecuencia de no vacunarlo.
    </ion-card-content>
    <ion-item no-lines>
      <ion-label>Acepto</ion-label>
      <ion-checkbox name="compromiso9" [(ngModel)]="data.compromiso9" disabled item-start></ion-checkbox>
    </ion-item>
  </div>

  <div *ngIf="previousNext == 'page2'">
    <!--NOMBRE ADOPTANTE-->
    <div >
      <h6 ><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Nombre</h6>
      <p text-uppercase>{{ data.nombreAdoptante }}</p>
    </div>
    <!--EDAD ADOPTANTE-->
    <div >
      <h6 ><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Edad</h6>
      <p text-uppercase>{{ data.edadAdoptante }}</p>
    </div>
    <!--DPI ADOPTANTE-->
    <div >
      <h6 ><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  DPI</h6>
      <p text-uppercase>{{ data.dpiAdoptante }}</p>      
    </div>
    <!--TELEFONO CASA ADOPTANTE-->
    <div >
      <h6 ><ion-icon ios="ios-home" md="md-home"></ion-icon>  No. Teléfono Casa</h6>
      <p text-uppercase>{{ data.telefonoCasa }}</p>
    </div>
    <!--TELEFONO CELULAR ADOPTANTE-->
    <div >
      <h6 ><ion-icon ios="ios-phone-portrait" md="md-phone-portrait"></ion-icon>  No. Celular</h6>
      <p text-uppercase>{{ data.telefonoCelular }}</p>
    </div>
    <!--DIRECCION CASA ADOPTANTE-->
    <div >
      <h6 ><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Dirección Casa</h6>
      <p text-uppercase>{{ data.direccionCasa }}</p>      
    </div>
    <!--TELEFONO TRABAJO ADOPTANTE-->
    <div >
      <h6 ><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  No. Trabajo</h6>
      <p text-uppercase>{{ data.telefonoTrabajo }}</p>
    </div>
    <!--DIRECCION CASA ADOPTANTE-->
    <div >
      <h6 ><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Dirección Trabajo</h6>
      <p text-uppercase>{{ data.direccionTrabajo }}</p>
    </div>
    <!--DIRECCION CASA ADOPTANTE-->
    <div >
      <h6 ><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  No. de Miembros de su Familia en la Casa</h6>
      <p text-uppercase>{{ data.noFamilia }}</p>
    </div>
    <!--DIRECCION CASA ADOPTANTE-->
    <div >
      <h6 ><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  No. de Niños en la Casa</h6>
      <p text-uppercase>{{ data.noNino }}</p>      
    </div>
    <div >
      <h6 ><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Rango de Edad de los Niños</h6>
      <p text-uppercase>{{ data.edadesNino }}</p>
    </div>
  </div>

  <div *ngIf="previousNext == 'page3'">
    <div >
      <p  item-start>NOMBRE COMPLETO DE TODOS LOS ADULTOS DE LA CASA (TODOS LOS ADULTOS DE LA CASA DEBEN DE ESTAR DE ACUERDO CON LA ADOPCION DE TU MASCOTA)</p>
    </div>
    <!--NOMBRE ADULTO-->
    <div >
      <h6 ><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Nombre Adulto 1</h6>
      <p text-uppercase>{{ data.nombreAdulto1 }}</p>
    </div>
    <!--NOMBRE ADULTO-->
    <div >
      <h6 ><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Edad Adulto 1</h6>
      <p text-uppercase>{{ data.edadAdulto1 }}</p>
    </div>
    <!--TELEFONO ADULTO-->
    <div >
      <h6 ><ion-icon ios="ios-phone-portrait" md="md-phone-portrait"></ion-icon>  Teléfono Adulto 1</h6>
      <p text-uppercase>{{ data.telefonoAdulto1 }}</p>
    </div>
    <!--NOMBRE ADULTO-->
    <div >
      <h6 ><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Nombre Adulto 2</h6>
      <p text-uppercase>{{ data.nombreAdulto2 }}</p>
    </div>
    <!--NOMBRE ADULTO-->
    <div >
      <h6 ><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Edad Adulto 2</h6>
      <p text-uppercase>{{ data.edadAdulto2 }}</p>
    </div>
    <!--TELEFONO ADULTO-->
    <div >
      <h6 ><ion-icon ios="ios-phone-portrait" md="md-phone-portrait"></ion-icon>  Teléfono Adulto 2</h6>
      <p text-uppercase>{{ data.telefonoAdulto2 }}</p>
    </div>
    <!--NOMBRE ADULTO-->
    <div >
      <h6 ><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Nombre Adulto 3</h6>
      <p text-uppercase>{{ data.nombreAdulto3 }}</p>
    </div>
    <!--NOMBRE ADULTO-->
    <div >
      <h6 ><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Edad Adulto 3</h6>
      <p text-uppercase>{{ data.edadAdulto3 }}</p>
    </div>
    <!--TELEFONO ADULTO-->
    <div >
      <h6 ><ion-icon ios="ios-phone-portrait" md="md-phone-portrait"></ion-icon>  Teléfono Adulto 3</h6>
      <p text-uppercase>{{ data.telefonoAdulto3 }}</p>
    </div>
    <!--NOMBRE ADULTO-->
    <div >
      <h6 ><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Nombre Adulto 4</h6>
      <p text-uppercase>{{ data.nombreAdulto4 }}</p>
    </div>
    <!--NOMBRE ADULTO-->
    <div >
      <h6 ><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Edad Adulto 4</h6>
      <p text-uppercase>{{ data.edadAdulto4 }}</p>
    </div>
    <!--TELEFONO ADULTO-->
    <div >
      <h6 ><ion-icon ios="ios-phone-portrait" md="md-phone-portrait"></ion-icon>  Teléfono Adulto 4</h6>
      <p text-uppercase>{{ data.telefonoAdulto4 }}</p>
    </div>
    </div>

    <div *ngIf="previousNext == 'page4'">
    <!--PREGUNTA NO. 1-->
    <div >
      <h6 ><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Tipo de Vivienda</h6>
      <p text-uppercase>{{ data.pregunta1 }}</p>
    </div>
    <!--PREGUNTA NO. 2-->
    <div >
      <h6 ><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  ¿Es tu propiedad?</h6>
      <p text-uppercase>{{ data.pregunta2 }}</p>
    </div>
    <!--PREGUNTA NO. 3-->
    <div >
      <h6 ><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  ¿En dondé estará la mascota durante el día? * EXPLICA POR FAVOR</h6>
      <p text-uppercase>{{ data.pregunta3 }}</p>
    </div>
    <!--PREGUNTA NO. 4-->
    <div >
      <h6 ><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  ¿En dónde donde dormirá la mascota? Ejemplo: adentro de la casa, en camita, en el cuarto, sala, lavandería etc. 
        Afuera en el patio ¿En casita? ¿Sin casita? ¿Techado?  EXPLICA POR FAVOR LUGAR EXACTO DONDE DORMIRA TU NUEVA MASCOTA</h6>
      <p text-uppercase>{{ data.pregunta4 }}</p>
    </div>
    <!--PREGUNTA NO. 5-->
    <div >
      <h6 ><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  ¿Tienes patio o jardín?, ¿Detrás o delante de tu casa?</h6>
      <p text-uppercase>{{ data.pregunta5 }}</p>
    </div>
    <!--PREGUNTA NO. 6-->
    <div >
      <h6 ><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Es tu casa segura? * EXPLICA POR FAVOR</h6>
      <p text-uppercase>{{ data.pregunta6 }}</p>
    </div>
    <!--PREGUNTA NO. 7-->
    <div >
      <h6 ><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  ¿Podría encontrar su mascota cómo escaparse de casa? * EXPLICA POR FAVOR</h6>
      <p text-uppercase>{{ data.pregunta7 }}</p>
    </div>
    <!--PREGUNTA NO. 8-->
    <div >
      <h6 ><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  ¿En este momento tienes perros y/o gatos?</h6>
      <p text-uppercase>{{ data.pregunta8 }}</p>
    </div>
    <!--PREGUNTA NO. 9-->
    <div >
      <h6 ><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  ¿Tienes otro tipo de animales en tu casa? ¿Aves, Conejos, Etc.? * EXPLICA QUE TIPO TIENES POR FAVOR</h6>
      <p text-uppercase>{{ data.pregunta9 }}</p>
    </div>
    <!--PREGUNTA NO. 10-->
    <div >
      <h6 ><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Si tienes mascota, nos puedes dar datos como edad, tamaño, temperamento, etc... 
        Esto nos sirve para ver si se va a llevar bien con su futuro hermanito perruno, explica por favor.</h6>
      <p text-uppercase>{{ data.pregunta10 }}</p>
    </div>
    <!--PREGUNTA NO. 11-->
    <div >
      <h6 ><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Si tienes mascota, ¿Está esterilizado? Si o No - Está vacunado? Si o No - Desparacitado? Si o No</h6>
      <p text-uppercase>{{ data.pregunta11 }}</p>
    </div>
    <!--PREGUNTA NO. 12-->
    <div >
      <h6 ><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  ¿Quién es su Veterinario? y No. Teléfono</h6>
      <p text-uppercase>{{ data.pregunta12 }}</p>
    </div>
    <!--PREGUNTA NO. 13-->
    <div >
      <h6 ><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Si no tienes mascota en 
        este momento, pero has tenido antes, indica qué pasó con la última que tuvo:
        ¿Se perdió? ¿Se la robaron? ¿La regalaste? 
        Si falleció, ¿De que falleció?
        ¿Estaba vacunado? Si o No ¿Desparasitado? Si o No ¿Esterilizado? Si o No</h6>
      <p text-uppercase>{{ data.pregunta13 }}</p>
    </div>
  </div>

  <div *ngIf="previousNext == 'page5'">
    <div >
      <p item-start style="color: black;">LAS SIGUIENTES PEGUNTAS SON MUY IMPORTANTES. SON PARA SABER QUE TIPO DE PERRITO QUIERES, 
        Y CUAL LE CONVIENE A TU FAMILIA, DEBES RESPONDERLAS <strong>TODAS</strong> POR FAVOR.</p>
    </div>

    <!--PREGUNTA NO. 14-->
    <div >
      <h6 ><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  ¿Cual es la razón principal por la que quieres un perro? Compañía, Guardianía, Otro. Explica:</h6>
      <p text-uppercase>{{ data.pregunta14 }}</p>
    </div>
    <!--PREGUNTA NO. 15-->
    <div >
      <h6 ><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  ¿Prefieres adoptar un perro de raza, mestizo o no tiene preferencia?</h6>
      <p text-uppercase>{{ data.pregunta15 }}</p>
    </div>
    <!--PREGUNTA NO. 16-->
    <div >
      <h6 ><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  ¿Adoptarías a un perrito con alguna discapacidad como cojear? Si o No</h6>
      <p text-uppercase>{{ data.pregunta16 }}</p>
    </div>
    <!--PREGUNTA NO. 17-->
    <div >
      <h6 ><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Quién se hará cargo de la educación y los cuidados de la mascota 
        (baño, alimentación, gastos veterinarios etc.) así como de la limpieza del área donde permanecerá?</h6>
      <p text-uppercase>{{ data.pregunta17 }}</p>
    </div>
    <!--PREGUNTA NO. 18-->
    <div >
      <h6 ><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  ¿Has pensado que tipo de perro quieres?</h6>
      <p text-uppercase>{{ data.pregunta18 }}</p>
    </div>
    <!--PREGUNTA NO. 19-->
    <div >
      <h6 ><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Tamaño, en el caso que quieras adoptar un cachorro, ¿Qué tamaño debe tener al ser adulto?</h6>
      <p text-uppercase>{{ data.pregunta19 }}</p>
    </div>
    <!--PREGUNTA NO. 20-->
    <div >
      <h6 ><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  ¿Qué sucedería  con el perro si tuvieras que mudarte a otra casa o país?</h6>
      <p text-uppercase>{{ data.pregunta20 }}</p>
    </div>
    </div>

    <div *ngIf="previousNext == 'page6'">
    <div >
      <p item-start style="color: black;">LAS SIGUIENTE INFORMACIÓN, ES PARA SABER QUE ACEPTAS TODAS LAS OBLIGACIONES QUE ADQUIERES AL ADOPTAR UNA MASCOTA:</p>
    </div>

    <!--PREGUNTA NO. 21-->
    <div >
      <h6 ><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Estas dispuesto aceptar que el perro tendrá un período de ajuste en el cual: Aprenderá dónde hacer 
        sus necesidades y adaptarse a la familia y a sus costumbres?</h6>
      <p text-uppercase>{{ data.pregunta21 }}</p>
    </div>
    <!--PREGUNTA NO. 22-->
    <div >
      <h6 ><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Tienes el tiempo para educar a tu mascota: jugar o sacarla hacer ejercicio en forma regular? Comenta</h6>
      <p text-uppercase>{{ data.pregunta22 }}</p>
    </div>
    <!--PREGUNTA NO. 23-->
    <div >
      <h6 ><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Indica los cuidados que tu familia está dispuesta a darle a tu mascota<br>
        ¿Visitas Periodicas al Veterianario? Si o No<br>
        ¿Desparacitación Si o No<br>
        ¿Vacunación? Si o No<br>
        ¿Baño o Grooming (corte de pelo, uñas, etc.)? Si o No<br>
        ¿Paseos con correa? Si o No<br>
        ¿Educación (Sin Violencia)? Si o No</h6>
      <p text-uppercase>{{ data.pregunta23 }}</p>
    </div>
    <!--PREGUNTA NO. 24-->
    <div >
      <h6 ><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Por favor, da dos nombres y teléfonos de dos referencias personales. 
        Y escribe ¿Cual es su relación con esta persona que lo refiere?</h6>
      <p text-uppercase>{{ data.pregunta24 }}</p>
    </div>

    <div >
      <h6 ><ion-icon ios="ios-image" md="md-image"></ion-icon>  FOTO DE DPI</h6>
    </div>
    <!-- ADJUNTAR FOTO DE LUGAR DONDE DORMIRA LA MASCOTA -->
    <div>
      <img src="{{ data.firma }}" id="imgAvatar" alt="Avatar" class="image-slides">
    </div>

    <div >
      <h6 ><ion-icon ios="ios-image" md="md-image"></ion-icon>  FOTO DEL AREA DONDE ESTARA LA MASCOTA</h6>
    </div>
    <!-- ADJUNTAR FOTO DE LUGAR DONDE DORMIRA LA MASCOTA -->
    <div>
      <img src="{{ data.picture }}" id="imgAvatar2" alt="Avatar2" class="image-slides">
    </div>
    <!-- COMENTARIO -->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Comentario Falta Información</ion-label>
      <ion-textarea type="text" [(ngModel)]="pregunta25" name="pregunta25">
      </ion-textarea>
    </ion-item>
  </div>

  <ion-row *ngIf="previousNext == 'page1'">
      <ion-col>
        <button ion-button block class="button" color="btnform" icon-start disabled>
          <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
          Atras
        </button>
      </ion-col>
      <ion-col>
        <button ion-button block class="button" color="btnform" icon-start (click)="previousNextForm('page2')">
          <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
          Siguiente
        </button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="previousNext == 'page2'">
      <ion-col>
        <button ion-button block class="button" color="btnform" icon-start (click)="previousNextForm('page1')">
          <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
          Atras
        </button>
      </ion-col>
      <ion-col>
        <button ion-button block class="button" color="btnform" icon-start (click)="previousNextForm('page3')">
          <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
          Siguiente
        </button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="previousNext == 'page3'">
      <ion-col>
        <button ion-button block class="button" color="btnform" icon-start (click)="previousNextForm('page2')">
          <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
          Atras
        </button>
      </ion-col>
      <ion-col>
        <button ion-button block class="button" color="btnform" icon-start (click)="previousNextForm('page4')">
          <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
          Siguiente
        </button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="previousNext == 'page4'">
      <ion-col>
        <button ion-button block class="button" color="btnform" icon-start (click)="previousNextForm('page3')">
          <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
          Atras
        </button>
      </ion-col>
      <ion-col>
        <button ion-button block class="button" color="btnform" icon-start (click)="previousNextForm('page5')">
          <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
          Siguiente
        </button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="previousNext == 'page5'">
      <ion-col>
        <button ion-button block class="button" color="btnform" icon-start (click)="previousNextForm('page4')">
          <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
          Atras
        </button>
      </ion-col>
      <ion-col>
        <button ion-button block class="button" color="btnform" icon-start (click)="previousNextForm('page6')">
          <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
          Siguiente
        </button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="previousNext == 'page6'">
      <ion-col>
        <button ion-button block class="button" color="btnform" icon-start (click)="previousNextForm('page5')">
          <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
          Atras
        </button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="previousNext == 'page6'">
      <ion-col>
        <button ion-button block class="button" color="danger" icon-start (click)="cancel(data.id)">
          <ion-icon ios="ios-close" md="md-close"></ion-icon>
          Cancelar
        </button>
      </ion-col>
      <ion-col>
        <button ion-button block class="button" color="btnform" icon-start (click)="accept(data.id)">
          <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
          Aceptar
        </button>
      </ion-col>
      <ion-col>
        <button ion-button block class="button" icon-start (click)="process(data.id)">
          <ion-icon ios="ios-create" md="md-create"></ion-icon>
          Falta Información
        </button>
      </ion-col>
    </ion-row> 
</ion-content>