<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="saveChanges()">
  <div *ngIf="previousNext == 'page1'" >
    <!--NOMBRE ADOPTANTE-->
    <div *ngIf="data.pregunta25">
      <h6 ><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  COMENTARIO:</h6>
      <p text-uppercase>{{ data.pregunta25 }}</p>
    </div>
    <!--NOMBRE MASCOTA-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-paw" md="md-paw"></ion-icon>  Nombre del Perrito</ion-label>
      <ion-input type="text" [(ngModel)]="data.nombreMascota" name="nombreMascota">
      </ion-input>
    </ion-item>
    <!--COMPROMISO 1-->
    <ion-card-content>
      Me comprometo a: Proveerle agua limpia en todo momento y darle su ración de concentrado 2 veces al día.
    </ion-card-content>
    <ion-item no-lines>
      <ion-label>Acepto</ion-label>
      <ion-checkbox name="compromiso1" [(ngModel)]="data.compromiso1" item-start></ion-checkbox>
    </ion-item>
    <!--COMPROMISO 2-->
    <ion-card-content>
      Me comprometo a: Que mi nueva mascota usará siempre un collar con su placa de identificación.
    </ion-card-content>
    <ion-item no-lines>
      <ion-label>Acepto</ion-label>
      <ion-checkbox name="compromiso2" [(ngModel)]="data.compromiso2" item-start></ion-checkbox>
    </ion-item>
    <!--COMPROMISO 3-->
    <ion-card-content>
      Me comprometo a: <strong>Nunca</strong> golpear, maltratar, amarrar, abandonar ni regalar a mi 
      nueva mascota, y entiendo que hay maneras de educarlo sin recurrir a castigos físicos.
    </ion-card-content>
    <ion-item no-lines>
      <ion-label>Acepto</ion-label>
      <ion-checkbox name="compromiso3" [(ngModel)]="data.compromiso3" item-start></ion-checkbox>
    </ion-item>
    <!--COMPROMISO 4-->
    <ion-card-content>
      Me comprometo a: Proveer a mi mascota con atención veterinaria en caso de enfermedad, 
      desparacitar y cumplir con el horario de vacunas anuales recomendadas por mi veterinario.
    </ion-card-content>
    <ion-item no-lines>
      <ion-label>Acepto</ion-label>
      <ion-checkbox name="compromiso4" [(ngModel)]="data.compromiso4" item-start></ion-checkbox>
    </ion-item>
    <!--COMPROMISO 5-->
    <ion-card-content>
      Entiendo y autorizo que: Los dirigentes de DE CHUCHO A MASCOTA, pueden efectuar llamadas y 
      visitas a mi residencia periódicamente para asegurarse del bienestar de la mascota.
    </ion-card-content>
    <ion-item no-lines>
      <ion-label>Acepto</ion-label>
      <ion-checkbox name="compromiso5" [(ngModel)]="data.compromiso5" item-start></ion-checkbox>
    </ion-item>
    <!--COMPROMISO 6-->
    <ion-card-content>
      Entiendo que yo: El adoptante, soy el responsable de guiar y educar a la mascota para 
      que haya una buena relación y que sea obediente. <strong>(sin usar castigos físicos y maltratos, educaré dignamente.)</strong>
    </ion-card-content>
    <ion-item no-lines>
      <ion-label>Acepto</ion-label>
      <ion-checkbox name="compromiso6" [(ngModel)]="data.compromiso6" item-start></ion-checkbox>
    </ion-item>
    <!--COMPROMISO 7-->
    <ion-card-content>
      He tomado el tiempo para analizar el espacio que tengo en casa y el tipo y tamaño de la mascota que deseo adoptar.
    </ion-card-content>
    <ion-item no-lines>
      <ion-label>Acepto</ion-label>
      <ion-checkbox name="compromiso7" [(ngModel)]="data.compromiso7" item-start></ion-checkbox>
    </ion-item>
    <!--COMPROMISO 8-->
    <ion-card-content>
      GASTOS Y DONACIÓN: Estoy enterado que en todas las adopciones de mascotas, debo cancelar trescientos Quetzales (Q300.00) 
      (perros), los cuales cubren los gastos de la castración de la mascota y vacuna de rabia de ser necesaria.  
      <strong>***No cubre vacuna múltiple, por lo que me comprometo a vacunar a mi mascota en un período no mayor a 10 días después de la adopción.</strong>
    </ion-card-content>
    <ion-item no-lines>
      <ion-label>Acepto</ion-label>
      <ion-checkbox name="compromiso8" [(ngModel)]="data.compromiso8" item-start></ion-checkbox>
    </ion-item>
    <!--COMPROMISO 9-->
    <ion-card-content>
      Entiendo que: si no vacuno a mi perro con vacuna múltiple después de diez días de la adopción, mi perro puede enfermarse de 
      enfermedades como moquillo, etc. Al vacunar a mi mascota, estoy previniendo enfermedades y mucho sufrimiento a mi perrito, 
      y evitaré gastos médicos grandes, que vendrán a consecuencia de no vacunarlo.
    </ion-card-content>
    <ion-item no-lines>
      <ion-label>Acepto</ion-label>
      <ion-checkbox name="compromiso9" [(ngModel)]="data.compromiso9" item-start></ion-checkbox>
    </ion-item>
    </div>

    <div *ngIf="previousNext == 'page2'">
    <!--NOMBRE ADOPTANTE-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="data.nombreAdoptante" name="nombreAdoptante">
      </ion-input>
    </ion-item>
    <!--EDAD ADOPTANTE-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Edad</ion-label>
      <ion-input type="text" [(ngModel)]="data.edadAdoptante" name="edadAdoptante" >
      </ion-input>
    </ion-item>
    <!--DPI ADOPTANTE-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  DPI</ion-label>
      <ion-input type="text" [(ngModel)]="data.dpiAdoptante"  name="dpiAdoptante" >
      </ion-input>
    </ion-item>
    <!--TELEFONO CASA ADOPTANTE-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-home" md="md-home"></ion-icon>  No. Teléfono Casa</ion-label>
      <ion-input type="text" [(ngModel)]="data.telefonoCasa"  name="telefonoCasa" >
      </ion-input>
    </ion-item>
    <!--TELEFONO CELULAR ADOPTANTE-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-phone-portrait" md="md-phone-portrait"></ion-icon>  No. Celular</ion-label>
      <ion-input type="text" [(ngModel)]="data.telefonoCelular" name="telefonoCelular" >
      </ion-input>
    </ion-item>
    <!--DIRECCION CASA ADOPTANTE-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Dirección Casa</ion-label>
      <ion-input type="text" [(ngModel)]="data.direccionCasa" name="direccionCasa" >
      </ion-input>
    </ion-item>
    <!--TELEFONO TRABAJO ADOPTANTE-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  No. Trabajo</ion-label>
      <ion-input type="text" [(ngModel)]="data.telefonoTrabajo" name="telefonoTrabajo" >
      </ion-input>
    </ion-item>
    <!--DIRECCION CASA ADOPTANTE-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Dirección Trabajo</ion-label>
      <ion-input type="text" [(ngModel)]="data.direccionTrabajo" name="direccionTrabajo" >
      </ion-input>
    </ion-item>
    <!--DIRECCION CASA ADOPTANTE-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  No. de Miembros de su Familia en la Casa</ion-label>
      <ion-input type="text" [(ngModel)]="data.noFamilia" name="noFamilia" >
      </ion-input>
    </ion-item>
    <!--DIRECCION CASA ADOPTANTE-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  No. de Niños en la Casa</ion-label>
      <ion-input type="text" [(ngModel)]="data.noNino" name="noNino" >
      </ion-input>
    </ion-item>
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Rango de Edad de los Niños</ion-label>
      <ion-input type="text" [(ngModel)]="data.edadesNino" name="edadesNino" >
      </ion-input>
    </ion-item>
    </div>

    <div *ngIf="previousNext == 'page3'">
    <ion-item>
      <p item-start>NOMBRE COMPLETO DE TODOS LOS ADULTOS DE LA CASA (TODOS LOS ADULTOS DE LA CASA DEBEN DE ESTAR DE ACUERDO CON LA ADOPCION DE TU MASCOTA)</p>
    </ion-item>
    <!--NOMBRE ADULTO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Nombre Adulto 1</ion-label>
      <ion-input type="text" [(ngModel)]="data.nombreAdulto1" name="nombreAdulto1" >
      </ion-input>
    </ion-item>
    <!--NOMBRE ADULTO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Edad Adulto 1</ion-label>
      <ion-input type="text" [(ngModel)]="data.edadAdulto1" name="edadAdulto1" >
      </ion-input>
    </ion-item>
    <!--TELEFONO ADULTO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-phone-portrait" md="md-phone-portrait"></ion-icon>  Teléfono Adulto 1</ion-label>
      <ion-input type="text" [(ngModel)]="data.telefonoAdulto1" name="telefonoAdulto1" >
      </ion-input>
    </ion-item>
    <!--NOMBRE ADULTO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Nombre Adulto 2</ion-label>
      <ion-input type="text" [(ngModel)]="data.nombreAdulto2" name="nombreAdulto2" >
      </ion-input>
    </ion-item>
    <!--NOMBRE ADULTO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Edad Adulto 2</ion-label>
      <ion-input type="text" [(ngModel)]="data.edadAdulto2" name="edadAdulto2" >
      </ion-input>
    </ion-item>
    <!--TELEFONO ADULTO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-phone-portrait" md="md-phone-portrait"></ion-icon>  Teléfono Adulto 2</ion-label>
      <ion-input type="text" [(ngModel)]="data.telefonoAdulto2" name="telefonoAdulto2" >
      </ion-input>
    </ion-item>
    <!--NOMBRE ADULTO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Nombre Adulto 3</ion-label>
      <ion-input type="text" [(ngModel)]="data.nombreAdulto3" name="nombreAdulto3" >
      </ion-input>
    </ion-item>
    <!--NOMBRE ADULTO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Edad Adulto 3</ion-label>
      <ion-input type="text" [(ngModel)]="data.edadAdulto3" name="edadAdulto3" >
      </ion-input>
    </ion-item>
    <!--TELEFONO ADULTO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-phone-portrait" md="md-phone-portrait"></ion-icon>  Teléfono Adulto 3</ion-label>
      <ion-input type="text" [(ngModel)]="data.telefonoAdulto3" name="telefonoAdulto3" >
      </ion-input>
    </ion-item>
    <!--NOMBRE ADULTO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Nombre Adulto 4</ion-label>
      <ion-input type="text" [(ngModel)]="data.nombreAdulto4" name="nombreAdulto4" >
      </ion-input>
    </ion-item>
    <!--NOMBRE ADULTO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Edad Adulto 4</ion-label>
      <ion-input type="text" [(ngModel)]="data.edadAdulto4" name="edadAdulto4" >
      </ion-input>
    </ion-item>
    <!--TELEFONO ADULTO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-phone-portrait" md="md-phone-portrait"></ion-icon>  Teléfono Adulto 4</ion-label>
      <ion-input type="text" [(ngModel)]="data.telefonoAdulto4" name="telefonoAdulto4" >
      </ion-input>
    </ion-item>
    </div>

    <div *ngIf="previousNext == 'page4'">
    <!--PREGUNTA NO. 1-->
    <ion-item no-lines>
      <p item-start>Tipo de Vivienda</p>
    </ion-item>
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Pregunta No. 1</ion-label>
      <ion-select [(ngModel)]="data.pregunta1" name="pregunta1">
        <ion-option value="Casa">Casa</ion-option>
        <ion-option value="Apartamento">Apartamento</ion-option>
        <ion-option value="Finca">Finca</ion-option>
        <ion-option value="Otro">Otro</ion-option>
      </ion-select>
    </ion-item>
    <!--PREGUNTA NO. 2-->
    <ion-item no-lines>
      <p item-start> ¿Es tu propiedad?</p>
    </ion-item>
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Pregunta No. 2</ion-label>
      <ion-select [(ngModel)]="data.pregunta2" name="pregunta2">
        <ion-option value="Si">Si</ion-option>
        <ion-option value="No">No</ion-option>
      </ion-select>
    </ion-item>
    <!--PREGUNTA NO. 3-->
    <ion-item no-lines>
      <p item-start>¿En dondé estará la mascota durante el día? * EXPLICA POR FAVOR</p>
    </ion-item>
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Pregunta No. 3</ion-label>
      <ion-textarea type="text" [(ngModel)]="data.pregunta3" name="pregunta3">
      </ion-textarea>
    </ion-item>
    <!--PREGUNTA NO. 4-->
    <ion-item no-lines>
      <p item-start>¿En dónde donde dormirá la mascota? Ejemplo: adentro de la casa, en camita, en el cuarto, sala, lavandería etc. 
        Afuera en el patio ¿En casita? ¿Sin casita? ¿Techado?  EXPLICA POR FAVOR LUGAR EXACTO DONDE DORMIRA TU NUEVA MASCOTA</p>
    </ion-item>    
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Pregunta No. 4</ion-label>
      <ion-textarea type="text" [(ngModel)]="data.pregunta4" name="pregunta4">
      </ion-textarea>
    </ion-item>
    <!--PREGUNTA NO. 5-->
    <ion-item no-lines>
      <p item-start>¿Tienes patio o jardín?, ¿Detrás o delante de tu casa?</p>
    </ion-item> 
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Pregunta No. 5</ion-label>
      <ion-textarea type="text" [(ngModel)]="data.pregunta5" name="pregunta5">
      </ion-textarea>
    </ion-item>
    <!--PREGUNTA NO. 6-->
    <ion-item no-lines>
      <p item-start>¿Es tu casa segura? * EXPLICA POR FAVOR</p>
    </ion-item>
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Pregunta No. 6</ion-label>
      <ion-textarea type="text" [(ngModel)]="data.pregunta6" name="pregunta6">
      </ion-textarea>
    </ion-item>
    <!--PREGUNTA NO. 7-->
    <ion-item no-lines>
      <p item-start>¿Podría encontrar su mascota cómo escaparse de casa? * EXPLICA POR FAVOR</p>
    </ion-item>
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Pregunta No. 7</ion-label>
      <ion-textarea type="text" [(ngModel)]="data.pregunta7" name="pregunta7">
      </ion-textarea>
    </ion-item>
    <!--PREGUNTA NO. 8-->
    <ion-item no-lines>
      <p item-start>¿En este momento tienes perros y/o gatos?</p>
    </ion-item>
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Pregunta No. 8</ion-label>
      <ion-textarea type="text" [(ngModel)]="data.pregunta8" name="pregunta8">
      </ion-textarea>
    </ion-item>
    <!--PREGUNTA NO. 9-->
    <ion-item no-lines>
      <p item-start>¿Tienes otro tipo de animales en tu casa? ¿Aves, Conejos, Etc.? * EXPLICA QUE TIPO TIENES POR FAVOR</p>
    </ion-item>
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Pregunta No. 9</ion-label>
      <ion-textarea type="text" [(ngModel)]="data.pregunta9" name="pregunta9">
      </ion-textarea>
    </ion-item>
    <!--PREGUNTA NO. 10-->
    <ion-item no-lines>
      <p item-start>Si tienes mascota, nos puedes dar datos como edad, tamaño, temperamento, etc... 
        Esto nos sirve para ver si se va a llevar bien con su futuro hermanito perruno, explica por favor.</p>
    </ion-item>
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Pregunta No. 10</ion-label>
      <ion-textarea type="text" [(ngModel)]="data.pregunta10" name="pregunta10">
      </ion-textarea>
    </ion-item>
    <!--PREGUNTA NO. 11-->
    <ion-item no-lines>
      <p item-start>Si tienes mascota, ¿Está esterilizado? Si o No - Está vacunado? Si o No - Desparacitado? Si o No</p>
    </ion-item>
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Pregunta No. 11</ion-label>
      <ion-textarea type="text" [(ngModel)]="data.pregunta11" name="pregunta11">
      </ion-textarea>
    </ion-item>
    <!--PREGUNTA NO. 12-->
    <ion-item no-lines>
      <p item-start>¿Quién es su Veterinario? y No. Teléfonoo</p>
    </ion-item>
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Pregunta No. 12</ion-label>
      <ion-textarea type="text" [(ngModel)]="data.pregunta12" name="pregunta12">
      </ion-textarea>
    </ion-item>
    <!--PREGUNTA NO. 13-->
    <ion-item no-lines>
      <p item-start>Si no tienes mascota en este momento, pero has tenido antes, indica qué pasó con la última que tuvo:
      ¿Se perdió? ¿Se la robaron? ¿La regalaste? 
      Si falleció, ¿De que falleció?
      ¿Estaba vacunado? Si o No ¿Desparasitado? Si o No ¿Esterilizado? Si o No</p>
    </ion-item>
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Pregunta No. 13</ion-label>
      <ion-textarea type="text" [(ngModel)]="data.pregunta13" name="pregunta13">
      </ion-textarea>
    </ion-item>
    </div>

  <div *ngIf="previousNext == 'page5'">
    <ion-item no-lines>
      <p item-start style="color: black;">LAS SIGUIENTES PEGUNTAS SON MUY IMPORTANTES. SON PARA SABER QUE TIPO DE PERRITO QUIERES, 
        Y CUAL LE CONVIENE A TU FAMILIA, DEBES RESPONDERLAS <strong>TODAS</strong> POR FAVOR.</p>
    </ion-item>

    <!--PREGUNTA NO. 14-->
    <ion-item no-lines>
      <p item-start>¿Cual es la razón principal por la que quieres un perro? Compañía, Guardianía, Otro. Explica:</p>
    </ion-item>
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Pregunta No. 14</ion-label>
      <ion-textarea type="text" [(ngModel)]="data.pregunta14" name="pregunta14">
      </ion-textarea>
    </ion-item>
    <!--PREGUNTA NO. 15-->
    <ion-item no-lines>
      <p item-start>¿Prefieres adoptar un perro de raza, mestizo o no tiene preferencia?</p>
    </ion-item>
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Pregunta No. 15</ion-label>
      <ion-textarea type="text" [(ngModel)]="data.pregunta15" name="pregunta15">
      </ion-textarea>
    </ion-item>
    <!--PREGUNTA NO. 16-->
    <ion-item no-lines>
      <p item-start>¿Adoptarías a un perrito con alguna discapacidad como cojear? Si o No</p>
    </ion-item>
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Pregunta No. 16</ion-label>
      <ion-textarea type="text" [(ngModel)]="data.pregunta16" name="pregunta16">
      </ion-textarea>
    </ion-item>
    <!--PREGUNTA NO. 17-->
    <ion-item no-lines>
      <p item-start>Quién se hará cargo de la educación y los cuidados de la mascota 
      (baño, alimentación, gastos veterinarios etc.) así como de la limpieza del área donde permanecerá? Especifica</p>
    </ion-item>
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Pregunta No. 17</ion-label>
      <ion-textarea type="text" [(ngModel)]="data.pregunta17" name="pregunta17">
      </ion-textarea>
    </ion-item>
    <!--PREGUNTA NO. 18-->
    <ion-item no-lines>
      <p item-start>¿Has pensado que tipo de perro quieres?</p>
    </ion-item>
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Pregunta No. 18</ion-label>
      <ion-textarea type="text" [(ngModel)]="data.pregunta18" name="pregunta18">
      </ion-textarea>
    </ion-item>
    <!--PREGUNTA NO. 19-->
    <ion-item no-lines>
      <p item-start>Tamaño, en el caso que quieras adoptar un cachorro, ¿Qué tamaño debe tener al ser adulto?</p>
    </ion-item>
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Pregunta No. 19</ion-label>
      <ion-textarea type="text" [(ngModel)]="data.pregunta19" name="pregunta19">
      </ion-textarea>
    </ion-item>
    <!--PREGUNTA NO. 20-->
    <ion-item no-lines>
      <p item-start>¿Qué sucedería  con el perro si tuvieras que mudarte a otra casa o país?</p>
    </ion-item>
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Pregunta No. 20</ion-label>
      <ion-textarea type="text" [(ngModel)]="data.pregunta20" name="pregunta20">
      </ion-textarea>
    </ion-item>

    </div>

    <div *ngIf="previousNext == 'page6'">
    <ion-item no-lines>
      <p item-start style="color: black;">LAS SIGUIENTE INFORMACIÓN, ES PARA SABER QUE ACEPTAS TODAS LAS OBLIGACIONES QUE ADQUIERES AL ADOPTAR UNA MASCOTA:</p>
    </ion-item>

    <!--PREGUNTA NO. 21-->
    <ion-item no-lines>
      <p item-start>Estas dispuesto aceptar que el perro tendrá un período de ajuste en el cual: Aprenderá dónde hacer 
        sus necesidades y adaptarse a la familia y a sus costumbres?</p>
    </ion-item>
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Pregunta No. 21</ion-label>
      <ion-textarea type="text" [(ngModel)]="data.pregunta21" name="pregunta21">
      </ion-textarea>
    </ion-item>
    <!--PREGUNTA NO. 22-->
    <ion-item no-lines>
      <p item-start>Tienes el tiempo para educar a tu mascota: jugar o sacarla hacer ejercicio en forma regular? Comenta</p>
    </ion-item>
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Pregunta No. 22</ion-label>
      <ion-textarea type="text" [(ngModel)]="data.pregunta22" name="pregunta22">
      </ion-textarea>
    </ion-item>
    <!--PREGUNTA NO. 23-->
    <ion-item no-lines>
      <p item-start>Indica los cuidados que tu familia está dispuesta a darle a tu mascota<br>
        ¿Visitas Periodicas al Veterianario? Si o No<br>
        ¿Desparacitación Si o No<br>
        ¿Vacunación? Si o No<br>
        ¿Baño o Grooming (corte de pelo, uñas, etc.)? Si o No<br>
        ¿Paseos con correa? Si o No<br>
        ¿Educación (Sin Violencia)? Si o No<br>
      </p>
    </ion-item>
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Pregunta No. 23</ion-label>
      <ion-textarea type="text" [(ngModel)]="data.pregunta23" name="pregunta23">
      </ion-textarea>
    </ion-item>
    <!--PREGUNTA NO. 24-->
    <ion-item no-lines>
      <p item-start>Por favor, da dos nombres y teléfonos de dos referencias personales. 
      Y escribe ¿Cual es su relación con esta persona que lo refiere?</p>
    </ion-item>
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Pregunta No. 24</ion-label>
      <ion-textarea type="text" [(ngModel)]="data.pregunta24" name="pregunta24">
      </ion-textarea>
    </ion-item>

    <ion-item no-lines>
      <p item-start>ADJUNTAR FOTO DE DPI</p>
    </ion-item>
    <!-- ADJUNTAR FOTO DE LUGAR DONDE DORMIRA LA MASCOTA -->
    <div>
      <img src="{{ data.firma }}" id="imgAvatar" alt="Avatar" class="image-slides">
    </div>
    <div class="upload-btn-wrapper">
      <button ion-button icon-start type="button">
        <ion-icon ios="ios-image" md="md-image"></ion-icon>
        Documento de Identificación
      </button>
    <input type="file" id="avatar" (change)="uploadImage($event,'avatar')"/>
    </div>

    <ion-item no-lines>
      <p item-start>ADJUNTAR FOTO DEL AREA DONDE ESTARA LA MASCOTA</p>
    </ion-item>
    <!-- ADJUNTAR FOTO DE LUGAR DONDE DORMIRA LA MASCOTA -->
    <div>
      <img src="{{ data.picture }}" id="imgAvatar2" alt="Avatar2" class="image-slides">
    </div>
    <div class="upload-btn-wrapper">
      <button ion-button icon-start type="button">
        <ion-icon ios="ios-image" md="md-image"></ion-icon>
        Adjuntar Foto
      </button>
    <input type="file" id="avatar2" (change)="uploadImage2($event,'avatar2')"/>
    </div>
  </div>

    <ion-row *ngIf="previousNext == 'page1'">
      <ion-col>
        <button ion-button block class="button" color="btnform" icon-start disabled>
          <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
          Atras
        </button>
      </ion-col>
      <ion-col>
        <button ion-button block class="button" color="btnform" icon-start (click)="previousNextForm('page2')">
          <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
          Siguiente
        </button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="previousNext == 'page2'">
      <ion-col>
        <button ion-button block class="button" color="btnform" icon-start (click)="previousNextForm('page1')">
          <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
          Atras
        </button>
      </ion-col>
      <ion-col>
        <button ion-button block class="button" color="btnform" icon-start (click)="previousNextForm('page3')">
          <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
          Siguiente
        </button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="previousNext == 'page3'">
      <ion-col>
        <button ion-button block class="button" color="btnform" icon-start (click)="previousNextForm('page2')">
          <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
          Atras
        </button>
      </ion-col>
      <ion-col>
        <button ion-button block class="button" color="btnform" icon-start (click)="previousNextForm('page4')">
          <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
          Siguiente
        </button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="previousNext == 'page4'">
      <ion-col>
        <button ion-button block class="button" color="btnform" icon-start (click)="previousNextForm('page3')">
          <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
          Atras
        </button>
      </ion-col>
      <ion-col>
        <button ion-button block class="button" color="btnform" icon-start (click)="previousNextForm('page5')">
          <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
          Siguiente
        </button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="previousNext == 'page5'">
      <ion-col>
        <button ion-button block class="button" color="btnform" icon-start (click)="previousNextForm('page4')">
          <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
          Atras
        </button>
      </ion-col>
      <ion-col>
        <button ion-button block class="button" color="btnform" icon-start (click)="previousNextForm('page6')">
          <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
          Siguiente
        </button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="previousNext == 'page6'">
      <ion-col>
        <button ion-button block class="button" color="btnform" icon-start (click)="previousNextForm('page5')">
          <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
          Atras
        </button>
      </ion-col>
      <ion-col>
        <button ion-button block class="button" color="primary" icon-start [disabled]="disabledBtn">
          <ion-icon ios="ios-send" md="md-send"></ion-icon>
          Envíar Encuesta
        </button>
      </ion-col>
    </ion-row>


  </form>
</ion-content>