<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Eventos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>      
    </ion-refresher-content>
  </ion-refresher>

  <ion-card class="adv-map" *ngFor="let e of events">
    <div style="position: relative">
      <img src="{{e.picture}}">
      <ion-fab right top>
      <button ion-fab top (click)="openForm(e.id)" >
          <ion-icon ios="ios-pin" md="md-pin"></ion-icon>
      </button>      
      </ion-fab>
    </div>
    <ion-card-content item-start>
      <ion-card-title>
      {{e.place}}
      </ion-card-title>
      <p>{{e.description}}</p>
    </ion-card-content>
  </ion-card>

  <ion-fab right bottom>
    <button ion-fab (click)="openForm()">
      <ion-icon name="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
