<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">    
    <ion-title>Cambiar Contraseña</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="closeModal()">
        <ion-icon ios="ios-close-outline" md="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="updatePassword()">
    <!--CONTRASEÑA ANTIGUA-->
    <ion-item>
        <ion-label floating><ion-icon ios="ios-lock" md="md-lock"></ion-icon>  Contraseña Actual</ion-label>
        <ion-input type="password"
        [(ngModel)]="changePassword.old_pass" name="old_pass">
        </ion-input>
    </ion-item>
    <!--CONTRASEÑA NUEVA-->
    <ion-item>
        <ion-label floating><ion-icon ios="ios-lock" md="md-lock"></ion-icon>  Contraseña Nueva</ion-label>
        <ion-input type="password"
        [(ngModel)]="changePassword.new_pass" name="new_pass">
        </ion-input>
    </ion-item>
    <!--CONFIRMAR CONTRASEÑA NUEVA-->
    <ion-item>
        <ion-label floating><ion-icon ios="ios-lock" md="md-lock"></ion-icon>  Confirmar Contraseña</ion-label>
        <ion-input type="password"
        [(ngModel)]="changePassword.new_pass_rep" name="new_pass_rep" >
        </ion-input>
    </ion-item>
    <button ion-button block type="submit" [disabled]="btnDisabled" color="update">Guardar Cambios</button>
  </form>
</ion-content>