profile-update-client {
    .profile-image{
        border-radius: 50%;
        display: block; 
        width: 150px; 
        height: auto; 
        margin-left: auto; 
        margin-right: auto;
    }
}
