<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="pictureLogin" [ngStyle]="{'background-image':'url(' + pictureLogin + ')'}" style="background: center; background-size: cover;" padding>
  <form style="display: block; max-width: 500px; height: auto; margin-left: auto; margin-right: auto;" (ngSubmit)="resetPassword()">
    <div>
      <img *ngIf="picture" src="{{picture}}"
      style="display: block; width: 125px; height: auto; margin-left: auto; margin-right: auto; padding-bottom: 6%;">
      <img *ngIf="!picture" src="http://foxylabs.xyz/Documentos/imgs/logo.png"
      style="display: block; width: 125px; height: auto; margin-left: auto; margin-right: auto;  padding-bottom: 6%;">
    </div>
    <ion-list no-lines >
      <ion-item class="item item-trns">
        <ion-label style="color: white;" floating><ion-icon ios="ios-at" md="md-at"></ion-icon>  Usuario o Correo Electrónico</ion-label>
        <ion-input type="text" [(ngModel)]="user.username" name="username"></ion-input>
      </ion-item>
      <div padding class="item item-trns">
        <button color="{{ btnColor!=null?btnColor:'danger' }}" ion-button block type="submit" [disabled]="btnDisabled">Recuperar Contraseña</button>
      </div>
    </ion-list>
  </form>
</ion-content>

<ion-content *ngIf="!pictureLogin" style="background: url('http://foxylabs.xyz/Documentos/imgs/Zapatos.jpg') center; background-size: cover;" padding>
  <form style="display: block; max-width: 500px; height: auto; margin-left: auto; margin-right: auto;" (ngSubmit)="resetPassword()">
    <div>
      <img *ngIf="picture" src="{{picture}}"
      style="display: block; width: 125px; height: auto; margin-left: auto; margin-right: auto; padding-bottom: 6%;">
      <img *ngIf="!picture" src="http://foxylabs.xyz/Documentos/imgs/logo.png"
      style="display: block; width: 125px; height: auto; margin-left: auto; margin-right: auto;  padding-bottom: 6%;">
    </div>
    <ion-list no-lines >
      <ion-item class="item item-trns">
        <ion-label style="color: white;" floating><ion-icon ios="ios-at" md="md-at"></ion-icon>  Usuario o Correo Electrónico</ion-label>
        <ion-input type="text" [(ngModel)]="user.username" name="username"></ion-input>
      </ion-item>
      <div padding class="item item-trns">
        <button color="{{ btnColor!=null?btnColor:'danger' }}" ion-button block type="submit" [disabled]="btnDisabled">Recuperar Contraseña</button>
      </div>
    </ion-list>
  </form>
</ion-content>
