<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <ion-title>Cambiar Contraseña</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form (ngSubmit)="updatePassword()">
    <!--CONTRASEÑA ANTIGUA-->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-lock" md="md-lock"></ion-icon>  Contraseña Actual</ion-label>
      <ion-input type="password"
      [(ngModel)]="changePassword.old_pass" name="old_pass">
      </ion-input>
    </ion-item>
    <!--CONTRASEÑA NUEVA-->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-lock" md="md-lock"></ion-icon>  Contraseña Nueva</ion-label>
      <ion-input type="password"
      [(ngModel)]="changePassword.new_pass" name="new_pass">
      </ion-input>
    </ion-item>
    <!--CONFIRMAR CONTRASEÑA NUEVA-->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-lock" md="md-lock"></ion-icon>  Confirmar Contraseña</ion-label>
      <ion-input type="password"
      [(ngModel)]="changePassword.new_pass_rep" name="new_pass_rep" >
      </ion-input>
    </ion-item>
    <button ion-button block type="submit" icon-start  color="{{ btnColor!=null?btnColor:'primary' }}" [disabled]="disabledBtn">
      <ion-icon ios="ios-archive" md="md-archive"></ion-icon>
      Guardar Cambios
    </button>
  </form>
</ion-content>
