<ion-header>
  <ion-navbar color="danger">
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="saveChanges()">
    <ion-list no-lines>
    <!-- TITULO -->
    <ion-item>
        <ion-label floating><ion-icon ios="ios-videocam" md="md-videocam"></ion-icon>  Título</ion-label>
        <ion-input type="text" [(ngModel)]="news.title" name="title">
        </ion-input>
    </ion-item>
    <!-- DESCRIPCION -->
    <ion-item>
        <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon> Descripción</ion-label>
        <ion-textarea type="text" [(ngModel)]="news.description" name="description">
        </ion-textarea>
    </ion-item>
    </ion-list>
    <button ion-button type="submit" [disabled]="btnDisabled" block color="update">Guardar Cambios</button>
  </form>
</ion-content>
