<ion-header>
    <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">    
      <ion-title>Accesos Usuarios</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <ion-list no-lines>
      <button ion-item *ngFor="let a of access" class="div-player">
        <ion-toggle *ngIf="a.mostrar=='0'" (ionChange)="update(a.id, 1, a.modulo)"></ion-toggle>
        <ion-toggle *ngIf="a.mostrar=='1'" checked="true" (ionChange)="update(a.id, 0, a.modulo)"></ion-toggle>        
        <ion-avatar item-start *ngIf="a.mostrar == '0'">
          <ion-icon ios="ios-eye-off" md="md-eye-off"></ion-icon>
        </ion-avatar>
        <ion-avatar item-start *ngIf="a.mostrar == '1'">
          <ion-icon ios="ios-eye" md="md-eye"></ion-icon>
        </ion-avatar>
        <ion-label>
          {{ ((a.modulos_show.nombre!=null)?a.modulos_show.nombre:'')}}
        </ion-label>
      </button>
    </ion-list>
  </ion-content>