<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mi membresía</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding="">
  <form style="display: block; max-width: 800px; height: auto; margin-left: auto; margin-right: auto;">
    <div>
      <img src="{{ profilePicture }}"
      style="display: block; width: 150px; height: auto; margin-left: auto; margin-right: auto;">
      <h4 class="text center">{{ user }}</h4>
      <h6 class="text center">{{ email }}</h6><br>
      <p class="text center" *ngIf="data.tipoNivel == 0">
        <strong>
          <ion-icon ios="ios-close-circle" md="md-close-circle"></ion-icon>  Estado:
        </strong> Inactivo
      </p>
      <p class="text center" *ngIf="data.tipoNivel == 1">
        <strong>
          <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>  Estado:
        </strong> Activo
      </p>
      <p class="text center" *ngIf="data.tipoNivel == 2">
        <strong>
          <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>  Estado:
        </strong> Activo
      </p>
      <p class="text center" *ngIf="data.tipoNivel == 3">
        <strong>
          <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>  Estado:
        </strong> Activo
      </p>
      <p class="text center" *ngIf="data.tipoNivel == 4">
        <strong>
          <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>  Estado:
        </strong> Activo
      </p>
      <p class="text center" *ngIf="data.inicioMembresia ">
        <strong>
          <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>  Inicio de Membresía:
        </strong> {{fechaInicio}}
      </p>
      <p class="text center" *ngIf="data.finMembresia ">
        <strong>
          <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>  Fin de Membresía:
        </strong> {{fechaFin}}
      </p>
      <p class="text center" *ngIf="data.membresias">
        <strong>
          <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>  Membresía Adquirida:
        </strong> {{ data.membresias.name }}
      </p>
      <p class="text center" *ngIf="data.tipoNivel ">
        <strong>
          <ion-icon ios="ios-star-half" md="md-star-half"></ion-icon>  Membresía de Nivel:
        </strong> {{data.tipoNivel}}
      </p>
    </div>
  </form>
</ion-content>
