<ion-header>
  <ion-toolbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Noticias</ion-title>
  </ion-toolbar>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <ion-searchbar id="myInput" [(ngModel)]="search" autofocus 
    (ionChange)="searchTable()" (keyup)="searchTable()">
    </ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>      
    </ion-refresher-content>
  </ion-refresher>

  <div class="w3-row">
    <div class="w3-half" *ngFor="let p of news" id="myList">
      <ion-card (click)="openForm(p.id)">
          <img style="display: block; width: auto; height: 250px; margin-left: auto; margin-right: auto;" src="{{p.picture}}"/>
          <ion-card-content >
              <ion-card-title>
              {{p.title}}
              </ion-card-title>
              <p class="contenido">
              {{p.description}}
              </p>
          </ion-card-content>
      </ion-card>
    </div>
  </div>

  <ion-fab right bottom>
    <button ion-fab (click)="openForm()">
      <ion-icon name="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>