<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Módulos de Acceso</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>      
    </ion-refresher-content>
  </ion-refresher>
  
  <ion-list no-lines>
    <button ion-item *ngFor="let a of table" class="div-player" (click)="openForm(a.id)">    
      <ion-avatar item-start *ngIf="a.mostrar == '0'">
        <ion-icon ios="ios-eye-off" md="md-eye-off"></ion-icon>
      </ion-avatar>
      <ion-avatar item-start *ngIf="a.mostrar == '1'">
        <ion-icon ios="ios-eye" md="md-eye"></ion-icon>
      </ion-avatar>
      <ion-label *ngIf="!a.apodo">
        {{ a.orden }} - {{ ((a.modulos_show.nombre!=null)?a.modulos_show.nombre:'')}}
      </ion-label>
      <ion-label *ngIf="a.apodo">
        {{ a.orden }} - {{ a.apodo }}
      </ion-label>
    </button>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab (click)="openModalCreate()" color="add">
      <ion-icon ios="ios-add-outline" md="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>