<ion-header>
  <ion-navbar color="client">    
    <ion-title>Pagadito</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="closeModal()">
        <ion-icon ios="ios-close-outline" md="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <h1>{{hello}}</h1>
</ion-content>