<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">    
    <ion-title>No. Comprobante {{order.id}}</ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only (click)="closeModal()">
        <ion-icon ios="ios-close-circle-outline" md="md-close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
    <!--NOMBRE-->
    <ion-item *ngIf="order.image">
      <ion-row justify-content-center>
        <img style="height: 60%; width: 80%;" src="{{order.image}}"/>
      </ion-row>
    </ion-item>
    <!--USER-->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-contact" md="md-contact"></ion-icon>  Proveedor</ion-label>
      <ion-input type="text"
      [(ngModel)]="order.user" name="user" disabled>
      </ion-input>
    </ion-item>
    <!--NOMBRE-->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>  Nombre</ion-label>
      <ion-input type="text"
      [(ngModel)]="order.name" name="name" disabled>
      </ion-input>
    </ion-item>
    <!--DESCRIPCION-->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Descripcion</ion-label>
      <ion-textarea type="text"
      [(ngModel)]="order.description" name="description" disabled>
      </ion-textarea>
    </ion-item>
    <!--PRECIO-->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>  Precio por Unidad</ion-label>
      <ion-input type="text"
        [(ngModel)]="order.unit_price" name="unit_price" disabled >
      </ion-input>
    </ion-item>
    <!--CANTIDAD-->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-basket-outline" md="ios-basket"></ion-icon>  Cantidad</ion-label>
      <ion-input type="number"
        [(ngModel)]="order.quantity" name="quantity" disabled>
      </ion-input>
    </ion-item>
    <!--COMENTARIO-->
    <ion-item *ngIf="order.comment">
      <ion-label floating><ion-icon ios="ios-chatbubbles" md="md-chatbubbles"></ion-icon>  Comentario</ion-label>
      <ion-textarea type="text"
      [(ngModel)]="order.comment" name="comment" disabled>
      </ion-textarea>
    </ion-item>
    <!--DEPOSITO-->
    <ion-item *ngIf="order.aprobacion">
      <ion-label floating><ion-icon ios="ios-document" md="md-document"></ion-icon>  Deposito</ion-label>
      <ion-input type="text"
        [(ngModel)]="order.deposito" name="deposito" disabled >
      </ion-input>
    </ion-item>
    <!--APROBACION-->
    <ion-item *ngIf="order.aprobacion">
      <ion-label floating><ion-icon ios="ios-checkmark-circle-outline" md="md-checkmark-circle-outline"></ion-icon>  Aprobación</ion-label>
      <ion-input type="text"
        [(ngModel)]="order.aprobacion" name="aprobacion" disabled >
      </ion-input>
    </ion-item>
    <!--APROBACION-->
    <ion-item *ngIf="order.fecha">
      <ion-label floating><ion-icon ios="ios-document" md="md-document"></ion-icon>  Fecha y Hora de Autorización</ion-label>
      <ion-input type="text"
        [(ngModel)]="order.fecha" name="fecha" disabled >
      </ion-input>
    </ion-item>
    <!--APROBACION-->
    <ion-item *ngIf="order.fechaapro">
      <ion-label floating><ion-icon ios="ios-document" md="md-document"></ion-icon>  Fecha de Entrega Aproximada</ion-label>
      <ion-input type="text"
        [(ngModel)]="order.fechaapro" name="fechaapro" disabled >
      </ion-input>
    </ion-item>
    </ion-list>
    <div *ngIf="order.picture">
      <button ion-button block outline (click)="download()" icon-start>
        <ion-icon ios="ios-cloud-download" md="md-cloud-download"></ion-icon>Descargar Archivo
      </button>
    </div>
</ion-content>
