<ion-header>
  <ion-navbar color="admin">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Productos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <img src="{{product.picture}}">
	<div class="news-item" padding="">
		<h2>{{product.name}}</h2>
        <p>{{product.description}}</p>
	</div>
</ion-content>