<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <ion-title>Actualizar Producto</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form (ngSubmit)="update()">
    <ion-slides>
      <!-- IMAGEN PRINCIPAL -->
      <ion-slide *ngIf="product.picture">
        <div>
          <img src="{{ product.picture }}" id="imgAvatar" alt="Avatar"
          style="display: block; width: auto; height: 250px; margin-left: auto; margin-right: auto;">
        </div>
        <!-- ENVIAR IMAGEN -->
        <div class="upload-btn-wrapper">
          <button ion-button block icon-start outline type="button">
            <ion-icon ios="ios-image" md="md-image"></ion-icon>Subir Imagen Principal
          </button>
          <input class="input-img" type="file" id="avatar" (change)="uploadImagePrincipal($event,'avatar')"/>
        </div>
      </ion-slide>

      <!-- IMAGEN SECUNDARIA 1 -->
      <ion-slide *ngIf="product.picture1">
        <div >
          <img src="{{ product.picture1 }}" id="imgAvatar1" alt="Avatar"
          style="display: block; width: auto; height: 250px; margin-left: auto; margin-right: auto;">
        </div>
        <!-- ENVIAR IMAGEN -->
        <div class="upload-btn-wrapper">
          <button style="width: 100%" ion-button block icon-start outline type="button">
            <ion-icon ios="ios-image" md="md-image"></ion-icon>Subir Imagen Secundaria
          </button>
          <input class="input-img" type="file" id="avatar1" (change)="uploadImages($event,'avatar1', 'imgAvatar1', product.idPic1)"/>
        </div>
      </ion-slide>

      <!-- IMAGEN SECUNDARIA 2 -->
      <ion-slide *ngIf="product.picture2">
        <div >
          <img src="{{ product.picture2 }}" id="imgAvatar2" alt="Avatar"
          style="display: block; width: auto; height: 250px; margin-left: auto; margin-right: auto;">
        </div>
        <!-- ENVIAR IMAGEN -->
        <div class="upload-btn-wrapper">
          <button ion-button block icon-start outline type="button">
            <ion-icon ios="ios-image" md="md-image"></ion-icon>Subir Imagen Secundaria
          </button>
          <input class="input-img" type="file" id="avatar2" (change)="uploadImages($event,'avatar2', 'imgAvatar2', product.idPic2)"/>
        </div>
      </ion-slide>

      <!-- IMAGEN SECUNDARIA 3 -->
      <ion-slide *ngIf="product.picture3">
        <div>
          <img src="{{ product.picture3 }}" id="imgAvatar3" alt="Avatar"
          style="display: block; width: auto; height: 250px; margin-left: auto; margin-right: auto;">
        </div>
        <!-- ENVIAR IMAGEN -->
        <div class="upload-btn-wrapper">
          <button ion-button block icon-start outline type="button">
            <ion-icon ios="ios-image" md="md-image"></ion-icon>Subir Imagen Secundaria
          </button>
          <input class="input-img" type="file" id="avatar3" (change)="uploadImages($event,'avatar3', 'imgAvatar3', product.idPic3)"/>
        </div>
      </ion-slide>
    </ion-slides>

        <ion-list no-lines>
          <!--IMAGEN DE PRODUCTOS
          <div *ngIf="product.picture!=null">
            <img src="{{ product.picture }}" id="imgAvatar" alt="Avatar"
            style="display: block; width: 200px; height: auto; margin-left: auto; margin-right: auto;">
          </div>
          <!--IMAGEN--
          <div class="upload-btn-wrapper">
            <button ion-button icon-start>
              <ion-icon ios="ios-image" md="md-image"></ion-icon>
              Subir Imagen
            </button>
            <input type="file" id="avatar" (change)="uploadImage($event,'avatar')" name="avatar[]" multiple/>
          </div>-->
          <!--NOMBRE-->
          <ion-item>
            <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Nombre</ion-label>
            <ion-input type="text"
            [(ngModel)]="product.name" name="name">
            </ion-input>
          </ion-item>
          <!--DESCRIPCION-->
          <ion-item>
            <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Descripción</ion-label>
            <ion-textarea type="text"
            [(ngModel)]="product.description" name="description">
            </ion-textarea>
          </ion-item>
          <!--PRECIO-->
          <ion-item>
            <ion-label floating><ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>  Precio</ion-label>
            <ion-input type="number"
            [(ngModel)]="product.price" name="price" >
            </ion-input>
          </ion-item>
          <!--CANTIDAD-->
          <ion-item>
            <ion-label floating><ion-icon ios="ios-basket" md="ios-basket"></ion-icon>  Cantidad</ion-label>
            <ion-input type="number"
            [(ngModel)]="product.quantity" name="quantity">
            </ion-input>
          </ion-item>
          <!--COSTO-->
          <ion-item>
            <ion-label floating><ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>  Costo</ion-label>
            <ion-input type="number"
            [(ngModel)]="product.cost" name="cost"
            ></ion-input>
          </ion-item>
          <!-- PERIODO -->
          <ion-item>
            <ion-label floating><ion-icon ios="ios-star-outline" md="md-star-outline"></ion-icon>  Tipo de Producto</ion-label>
            <ion-select [(ngModel)]="product.membresia" name="membresia">
              <ion-option value="1">Membresía</ion-option>
              <ion-option value="0">Producto</ion-option>
            </ion-select>
          </ion-item>
          <!--TIEMPO-->
          <ion-item *ngIf="product.membresia == 1">
            <ion-label floating><ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>  Tiempo</ion-label>
            <ion-input type="number"
            [(ngModel)]="product.tiempo" name="tiempo"></ion-input>
          </ion-item>
          <!-- PERIODO -->
          <ion-item *ngIf="product.membresia == 1">
            <ion-label floating><ion-icon ios="ios-star-outline" md="md-star-outline"></ion-icon>  Periodo</ion-label>
            <ion-select [(ngModel)]="product.periodo" name="periodo">
              <ion-option value="1">Días</ion-option>
              <ion-option value="2">Meses</ion-option>
              <ion-option value="3">Años</ion-option>
            </ion-select>
          </ion-item>
          <!-- NIVEL DE MEMBRESIA -->
          <ion-item *ngIf="product.membresia == 1">
            <ion-label floating><ion-icon ios="ios-star-outline" md="md-star-outline"></ion-icon>  Nivel de Membresía</ion-label>
            <ion-select [(ngModel)]="product.nivel" name="nivel">
              <ion-option value="1">Membresía Nivel 1</ion-option>
              <ion-option value="2">Membresía Nivel 2</ion-option>
              <ion-option value="3">Membresía Nivel 3</ion-option>
              <ion-option value="4">Membresía Nivel 4</ion-option>
              <ion-option value="5">Membresía Nivel 5</ion-option>
              <ion-option value="6">Membresía Nivel 6</ion-option>
              <ion-option value="7">Membresía Nivel 7</ion-option>
              <ion-option value="8">Membresía Nivel 8</ion-option>
              <ion-option value="9">Membresía Nivel 9</ion-option>
              <ion-option value="10">Membresía Nivel 10</ion-option>
            </ion-select>
          </ion-item>
          <!--CATEGORIA-->
          <ion-item>
            <ion-label floating><ion-icon ios="ios-apps" md="md-apps"></ion-icon>  Categoría</ion-label>
            <ion-select [(ngModel)]="product.category" name="category">
                <ion-option *ngFor="let c of categories" value="{{c.id}}">{{c.name}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
    <button ion-button full color="primary" type="submit">
    Guardar Cambios
    </button>
  </form>
</ion-content>
