<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ data.title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div>
    <div *ngIf="data.picture" id='iframe'>
      <img class="image-slides2" [src]="data.picture | sanitizer">
    </div>

    <!-- INFORMACION -->
    <div>
      <h2 class="text center" *ngIf="data.title">{{data.title}}</h2>
      <p class="text center" *ngIf="data.description">{{data.description}}
      </p>
    </div>
    
    <div *ngIf="data.video" padding>
    <button ion-button block type="button" icon-start (click)="openBrowser(data.video)">
      <ion-icon ios="ios-link" md="md-link"></ion-icon>
      Link Externo
    </button>
    </div>
  </div>

  <ion-fab right bottom>
    <button ion-fab (click)="addComment(data.id)" disabled>
      <ion-icon ios="ios-chatbubbles" md="md-chatbubbles"></ion-icon>
    </button>
  </ion-fab>  
</ion-content>