<ion-header>
  <ion-navbar color="admin">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div style="height: 300px; width: 100%;" id="map"></div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <!--Direccion-->
        <ion-item>
          <ion-label floating>Lugar</ion-label>
          <ion-input type="text" [(ngModel)]="event.place" name="place">
          </ion-input>
        </ion-item>
        <!--Direccion-->
        <ion-item>
          <ion-label floating>Dirección</ion-label>
          <ion-input type="text" [(ngModel)]="event.address" name="address">
          </ion-input>
        </ion-item>
        <!--DESCRIPCION-->
        <ion-item>
          <ion-label floating>Descripción</ion-label>
          <ion-textarea type="text" [(ngModel)]="event.description" name="description">
          </ion-textarea>
        </ion-item>
        <!--FECHA-->
        <ion-item>
          <ion-label floating>Fecha</ion-label>
          <ion-datetime displayFormat="YYYY MMM DD" pickerFormat="DD MMM YYYY" [(ngModel)]="event.date" name="date"></ion-datetime>
        </ion-item>
        <!--HORA-->
        <ion-item>
          <ion-label floating>Hora</ion-label>
          <ion-datetime displayFormat="h:mm:ss" pickerFormat="h mm ss" [(ngModel)]="event.time" name="time"></ion-datetime>
        </ion-item>
        <!--USUARIO-->
        <ion-item>
          <ion-label>Usuario</ion-label>
          <ion-select [(ngModel)]="event.user_created">
            <ion-option *ngFor="let u of users" value="{{u.id}}">{{u.firstname}} {{u.lastname}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <button ion-button full color="primary" (click)="insert()">
      Guardar
      </button>
    </ion-row>
  </ion-grid>
  
</ion-content>