<ion-header>
  <ion-navbar color="">    
    <ion-title>Formulario Cobrador</ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only (click)="closeModal()">
        <ion-icon ios="ios-close-circle-outline" md="md-close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="saveChanges()">
    <!--TITULO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  ID</ion-label>
      <ion-input type="text" name="id" [(ngModel)]="data.id" required>
      </ion-input>
    </ion-item>
    <!--TITULO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Nombre</ion-label>
      <ion-input type="text" name="name" [(ngModel)]="data.nombre" required>
      </ion-input>
    </ion-item>
    <!--TITULO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Correo</ion-label>
      <ion-input type="text" name="correo" [(ngModel)]="data.correo" required>
      </ion-input>
    </ion-item>
    <!--TITULO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Telefono</ion-label>
      <ion-input type="text" name="telefono" [(ngModel)]="data.telefono" required>
      </ion-input>
    </ion-item>
    <button ion-button block type="submit" icon-start>
      <ion-icon ios="ios-archive" md="md-archive"></ion-icon>
      Guardar Cambios
    </button>
  </form>
</ion-content>