<ion-menu cache-view="false" [content]="content">
  <ion-content>
    <div class="div-menu">
      <img class="img-div" *ngIf="pictureCover" src="{{pictureCover}}">
      <img class="img-div" *ngIf="!pictureCover" src="http://foxylabs.xyz/Documentos/imgs/categories.jpg">
      <div class="profile">
      <img class="img-profile" src="{{ picture }}">
      <h6 class="text2">{{ firstName }}</h6>
      <p class="text">{{ email }}</p>
      </div>
    </div>
    <ion-list>
      <button no-lines menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon [name]="p.icon" ios="{{p.ios}}" item-start></ion-icon>
        {{ p.apodo!=null?p.apodo:p.title }}
      </button>
      <button no-lines menuClose ion-item (click)="openAdoptions()" *ngIf="baseIdUser == 38">
        <ion-icon ios="ios-heart" md="md-heart" item-start></ion-icon>
        Adopciones
      </button>
      <button no-lines menuClose ion-item (click)="logOut()">
        <ion-icon name="md-log-out" ios="ios-log-out" item-start></ion-icon>
        Cerrar Sesión
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav id="nav" [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

