<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Encuesta No. {{ data.id }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="previousNext == 'page1'">
    <div no-lines>
      <p item-start>LA SOLICITUD ES PERSONAL, NO SE PUEDE PEDIR LA MASCOTA PARA DÁRSELA A OTRA PERSONA.
      </p>
    </div>
    <!--NOMBRE ADOPTANTE-->
    <div no-lines>
      <h6 floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Nombre Completo</h6>
      <p text-uppercase>{{ data.nombreAdoptante }}</p>
    </div>
    <!--DPI ADOPTANTE-->
    <div no-lines>
      <h6 floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  DPI</h6>
      <p text-uppercase>{{ data.dpiAdoptante }}</p>
    </div>    
    <!--EDAD ADOPTANTE-->
    <div no-lines>
      <h6 floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Edad</h6>
      <p text-uppercase>{{ data.edadAdoptante }}</p>
    </div>
    <!--TELEFONO CASA ADOPTANTE-->
    <div no-lines>
      <h6 floating><ion-icon ios="ios-home" md="md-home"></ion-icon>  No. Teléfono Casa</h6>
      <p text-uppercase>{{ data.telefonoCasa }}</p>
    </div>
    <!--TELEFONO CELULAR ADOPTANTE-->
    <div no-lines>
      <h6 floating><ion-icon ios="ios-phone-portrait" md="md-phone-portrait"></ion-icon>  No. Celular</h6>
      <p text-uppercase>{{ data.telefonoCelular }}</p>
    </div>
    <!--DPI ADOPTANTE-->
    <div no-lines>
      <h6 floating><ion-icon ios="ios-at" md="md-at"></ion-icon>  Correo</h6>
      <p text-uppercase>{{ data.correo }}</p>
    </div>
    <!--DIRECCION CASA ADOPTANTE-->
    <div no-lines>
      <h6 floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Dirección Casa</h6>
      <p text-uppercase>{{ data.direccionCasa }}</p>
    </div>
    <!--DIRECCION CASA ADOPTANTE-->
    <div no-lines>
      <h6 floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Empresa y Puesto de Trabajo</h6>
      <p text-uppercase>{{ data.direccionTrabajo }}</p>
    </div>
    <!--TELEFONO TRABAJO ADOPTANTE-->
    <div no-lines>
      <h6 floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  No. Trabajo</h6>
      <p text-uppercase>{{ data.telefonoTrabajo }}</p>
    </div>
    <!--REFERENCIAS-->
    <div no-lines>
      <p item-start>REFERENCIAS: DÉ NOMBRES DE 3 PERSONAS, CON SUS TELÉFONOS Y DIRECCIONES, QUE LE CONOZCAN.</p>
    </div>
    <!--NOMBRE ADULTO-->
    <div no-lines>
      <h6 floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Nombre Referencia 1</h6>
      <p text-uppercase>{{ data.nombreAdulto1 }}</p>
    </div>
    <!--NOMBRE ADULTO-->
    <div no-lines>
      <h6 floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Dirección Referencia 1</h6>
      <p text-uppercase>{{ data.edadAdulto1 }}</p>
    </div>
    <!--TELEFONO ADULTO-->
    <div no-lines>
      <h6 floating><ion-icon ios="ios-phone-portrait" md="md-phone-portrait"></ion-icon>  No. Teléfono Referencia 1</h6>
      <p text-uppercase>{{ data.telefonoAdulto1 }}</p>
    </div>
    <!--NOMBRE ADULTO-->
    <div no-lines>
      <h6 floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Nombre Referencia 2</h6>
      <p text-uppercase>{{ data.nombreAdulto2 }}</p>
    </div>
    <!--NOMBRE ADULTO-->
    <div no-lines>
      <h6 floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Dirección Referencia 2</h6>
      <p text-uppercase>{{ data.edadAdulto2 }}</p>
    </div>
    <!--TELEFONO ADULTO-->
    <div no-lines>
      <h6 floating><ion-icon ios="ios-phone-portrait" md="md-phone-portrait"></ion-icon>  No. Teléfono Referencia 2</h6>
      <p text-uppercase>{{ data.telefonoAdulto2 }}</p>
    </div>
    <!--NOMBRE ADULTO-->
    <div no-lines>
      <h6 floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Nombre Referencia 3</h6>
      <p text-uppercase>{{ data.nombreAdulto3 }}</p>
    </div>
    <!--NOMBRE ADULTO-->
    <div no-lines>
      <h6 floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Dirección Referencia 3</h6>
      <p text-uppercase>{{ data.edadAdulto3 }}</p>
    </div>
    <!--TELEFONO ADULTO-->
    <div no-lines>
      <h6 floating><ion-icon ios="ios-phone-portrait" md="md-phone-portrait"></ion-icon>  No. Teléfono Adulto 3</h6>
      <p text-uppercase>{{ data.telefonoAdulto3 }}</p>
    </div>
  </div>

  <div *ngIf="previousNext == 'page2'" >
    <div no-lines>
      <p item-start><strong>Gatos:</strong> Se le debe vacunar una vez al año y desparasitar cada 6 meses. 
        También debe mantenerlo libre de pulgas y garrapatas, para evitar enfermedades y alergias.<br>
      <strong>Disciplina y educación:</strong> Ser constante en las indicaciones que se le dan al gato para 
      que siempre haga sus necesidades en su caja de arena.<br>
      <strong>Refugio:</strong> El gato no debe dejar la protección del hogar.<br><br>
      Los animales tienen sentimientos y son inteligentes. <strong>El dueño es el responsable</strong> 
      de guiar y educar a la mascota para que haya una buena relación y que sea obediente.
      </p>
    </div>

    <!--PREGUNTA NO. 1-->
    <div no-lines>
      <h6 floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  ¿Que tipo de mascota ha tenido antes?, Y si tiene adjunte fotos.</h6>
      <p text-uppercase>{{ data.pregunta1 }}</p>
    </div>
    <!--PREGUNTA NO. 2-->
    <div no-lines>
      <h6 floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Si es un perro, ¿Usted cree que se lleve bien con gatos?</h6>
      <p text-uppercase>{{ data.pregunta2 }}</p>
    </div>
    <!--PREGUNTA NO. 3-->
    <div no-lines>
      <h6 floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  ¿Que tipo de gato prefiere cachorro o adulto?</h6>
      <p text-uppercase>{{ data.pregunta3 }}</p>
    </div>
    <!--PREGUNTA NO. 4-->
    <div no-lines>
      <h6 floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  ¿Adoptaria un gatito con alguna discapacidad física?</h6>
      <p text-uppercase>{{ data.pregunta4 }}</p>
    </div>
    <!--PREGUNTA NO. 5-->
    <div no-lines>
      <h6 floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  ¿Cuantas personas conforman su familia? Especifique las edades</h6>
      <p text-uppercase>{{ data.pregunta5 }}</p>
    </div>
    <!--PREGUNTA NO. 6-->
    <div no-lines>
      <h6 floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  ¿Hay alguna persona en su casa alérgica a los gatos o a algún otro animal?</h6>
      <p text-uppercase>{{ data.pregunta6 }}</p>
    </div>
    <!--PREGUNTA NO. 7-->
    <div no-lines>
      <h6 floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  ¿Están todos totalmente de acuerdo y deseando hacer esta adopción?</h6>
      <p text-uppercase>{{ data.pregunta7 }}</p>
    </div>
    <!--PREGUNTA NO. 8-->
    <div no-lines>
      <h6 floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Tipo de Vivienda</h6>
      <p text-uppercase>{{ data.pregunta8 }}</p>
    </div>
    <!--PREGUNTA NO. 9-->
    <div no-lines>
      <h6 floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  ¿Es tu propiedad?</h6>
      <p text-uppercase>{{ data.pregunta9 }}</p>
    </div>
    <!--PREGUNTA NO. 10-->
    <div no-lines>
      <h6 floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  ¿En donde estará el gato durante el día?</h6>
      <p text-uppercase>{{ data.pregunta10 }}</p>
    </div>
    <!--PREGUNTA NO. 11-->
    <div no-lines>
      <h6 floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  ¿En donde dormirá el gato?</h6>
      <p text-uppercase>{{ data.pregunta11 }}</p>
    </div>
    <!--PREGUNTA NO. 12-->
    <div no-lines>
      <p item-start>¿Quien es su médico veterinario?</p>
    </div>
    <div no-lines>
      <h6 floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  ¿Quien es su médico veterinario?</h6>
      <p text-uppercase>{{ data.pregunta12 }}</p>
    </div>
    <!--PREGUNTA NO. 13-->
    <div no-lines>
      <h6 floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  ¿Tiene patio o jardín?</h6>
      <p text-uppercase>{{ data.pregunta13 }}</p>
    </div>
    <!--PREGUNTA NO. 14-->
    <div no-lines>
      <h6 floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  ¿Habrá siempre alguien en casa para que el animal no esté solo?</h6>
      <p text-uppercase>{{ data.pregunta14 }}</p>
    </div>
    <!--PREGUNTA NO. 15-->
    <div no-lines>
      <h6 floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  ¿Que tipo de comida se le dará al gato?</h6>
      <p text-uppercase>{{ data.pregunta15 }}</p>
    </div>
    <!--PREGUNTA NO. 16-->
    <div no-lines>
      <h6 floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  ¿Considera usted que no hay forma de que el gato se pueda salir de su casa?</h6>
      <p text-uppercase>{{ data.pregunta16 }}</p>
    </div>
  </div>

  <div *ngIf="previousNext == 'page3'">
    <ion-item no-lines>
      <p item-start>POR FAVOR CUANDO RECIBA A SU MASCOTA LLEVELO A DONDE UN VETERINARIO A QUE LE HAGA UN CHEQUEO GENERAL.<br>
      LOS GATOS DEBEN COMER SOLO CONCENTRADO Y AGUA, NO LES DE LECHE DE VACA NI SOBRAS.<br>
      LOS GATOS NO DEBEN DEJAR EL HOGAR DONDE VIVEN YA QUE PUEDEN SER ATACADOS POR OTROS GATOS, PERSONAS O PERROS.<br>
      <strong>Se pide un donativo de Q200 por gato esto incluye su castración.</strong>
      </p>
    </ion-item>
    <!--COMPROMISO 1-->
    <ion-card-content>
      Si el gato no esta esterilizado me comprometo a llevarlo a la jornada donde me pidan y cumplir con este requisito 
      indispensable, sino devolveré el animal sin ningún tipo de compensación a mi persona
    </ion-card-content>
    <ion-item no-lines>
      <ion-label>Acepto</ion-label>
      <ion-checkbox name="compromiso1" [(ngModel)]="data.compromiso1" item-start></ion-checkbox>
    </ion-item>
    <!--COMPROMISO 2-->
    <ion-card-content>
      Estoy de acuerdo en que las personas que me entregan la mascota en adopción puedan efectuar llamadas y visitas a mi 
      residencia para constatar el estado de dicha mascota.  En caso se estableciera mal trato o descuido, 
      estoy de acuerdo en que la recojan sin ningún pago a mi persona.  Y también me comprometo a devolver la mascota 
      si por alguna razón no se adapta en mi hogar o en caso de que yo ya no puedo tenerla.
    </ion-card-content>
    <ion-item no-lines>
      <ion-label>Acepto</ion-label>
      <ion-checkbox name="compromiso2" [(ngModel)]="data.compromiso2" item-start></ion-checkbox>
    </ion-item>
    <!-- ADJUNTAR FOTO DE DPI -->
    <div >
      <h6 ><ion-icon ios="ios-image" md="md-image"></ion-icon>  FOTO DE DPI</h6>
    </div>
    <div>
      <img src="{{ data.firma }}" id="imgAvatar" alt="Avatar" class="image-slides">
    </div>
    <!-- ADJUNTAR FOTO DE MASCOTA -->
    <div >
      <h6 ><ion-icon ios="ios-image" md="md-image"></ion-icon>  FOTO DE MASCOTA ACTUAL SI HUBIESE</h6>
    </div>
    <div>
      <img src="{{ data.picture }}" id="imgAvatar2" alt="Avatar2" class="image-slides">
    </div>
    <!-- COMENTARIO -->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Comentario Falta Información</ion-label>
      <ion-textarea type="text" [(ngModel)]="pregunta25" name="pregunta25">
      </ion-textarea>
    </ion-item>
  </div>

    <ion-row *ngIf="previousNext == 'page1'">
      <ion-col>
        <button ion-button block class="button" color="btnform" icon-start disabled>
          <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
          Atras
        </button>
      </ion-col>
      <ion-col>
        <button ion-button block class="button" color="btnform" icon-start (click)="previousNextForm('page2')">
          <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
          Siguiente
        </button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="previousNext == 'page2'">
      <ion-col>
        <button ion-button block class="button" color="btnform" icon-start (click)="previousNextForm('page1')">
          <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
          Atras
        </button>
      </ion-col>
      <ion-col>
        <button ion-button block class="button" color="btnform" icon-start (click)="previousNextForm('page3')">
          <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
          Siguiente
        </button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="previousNext == 'page3'">
      <ion-col>
        <button ion-button block class="button" color="btnform" icon-start (click)="previousNextForm('page2')">
          <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
          Atras
        </button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="previousNext == 'page3'">
      <ion-col>
        <button ion-button block class="button" color="danger" icon-start (click)="cancel(data.id)">
          <ion-icon ios="ios-close" md="md-close"></ion-icon>
          Cancelar
        </button>
      </ion-col>
      <ion-col>
        <button ion-button block class="button" color="btnform" icon-start (click)="accept(data.id)">
          <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
          Aceptar
        </button>
      </ion-col>
      <ion-col>
        <button ion-button block class="button" icon-start (click)="process(data.id)">
          <ion-icon ios="ios-create" md="md-create"></ion-icon>
          Falta Información
        </button>
      </ion-col>
    </ion-row>
</ion-content>