<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="saveChanges()">
  <div *ngIf="previousNext == 'page1'">
    <!--NOMBRE ADOPTANTE-->
    <div *ngIf="data.pregunta25">
      <h6 ><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  COMENTARIO:</h6>
      <p text-uppercase>{{ data.pregunta25 }}</p>
    </div>
    <ion-item no-lines>
      <p item-start>LA SOLICITUD ES PERSONAL, NO SE PUEDE PEDIR LA MASCOTA PARA DÁRSELA A OTRA PERSONA.
      </p>
    </ion-item>
    <!--NOMBRE ADOPTANTE-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Nombre Completo</ion-label>
      <ion-input type="text" [(ngModel)]="data.nombreAdoptante" name="nombreAdoptante">
      </ion-input>
    </ion-item>
    <!--DPI ADOPTANTE-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  DPI</ion-label>
      <ion-input type="text" [(ngModel)]="data.dpiAdoptante"  name="dpiAdoptante" >
      </ion-input>
    </ion-item>    
    <!--EDAD ADOPTANTE-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Edad</ion-label>
      <ion-input type="text" [(ngModel)]="data.edadAdoptante" name="edadAdoptante" >
      </ion-input>
    </ion-item>
    <!--TELEFONO CASA ADOPTANTE-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-home" md="md-home"></ion-icon>  No. Teléfono Casa</ion-label>
      <ion-input type="text" [(ngModel)]="data.telefonoCasa"  name="telefonoCasa" >
      </ion-input>
    </ion-item>
    <!--TELEFONO CELULAR ADOPTANTE-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-phone-portrait" md="md-phone-portrait"></ion-icon>  No. Celular</ion-label>
      <ion-input type="text" [(ngModel)]="data.telefonoCelular" name="telefonoCelular" >
      </ion-input>
    </ion-item>
    <!--DPI ADOPTANTE-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-at" md="md-at"></ion-icon>  Correo</ion-label>
      <ion-input type="text" [(ngModel)]="data.correo"  name="correo" >
      </ion-input>
    </ion-item>
    <!--DIRECCION CASA ADOPTANTE-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Dirección Casa</ion-label>
      <ion-input type="text" [(ngModel)]="data.direccionCasa" name="direccionCasa" >
      </ion-input>
    </ion-item>
    <!--DIRECCION CASA ADOPTANTE-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Empresa y Puesto de Trabajo</ion-label>
      <ion-input type="text" [(ngModel)]="data.direccionTrabajo" name="direccionTrabajo" >
      </ion-input>
    </ion-item>
    <!--TELEFONO TRABAJO ADOPTANTE-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  No. Trabajo</ion-label>
      <ion-input type="text" [(ngModel)]="data.telefonoTrabajo" name="telefonoTrabajo" >
      </ion-input>
    </ion-item>
    <!--REFERENCIAS-->
    <ion-item no-lines>
      <p item-start>REFERENCIAS: DÉ NOMBRES DE 3 PERSONAS, CON SUS TELÉFONOS Y DIRECCIONES, QUE LE CONOZCAN.</p>
    </ion-item>
    <!--NOMBRE ADULTO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Nombre Referencia 1</ion-label>
      <ion-input type="text" [(ngModel)]="data.nombreAdulto1" name="nombreAdulto1" >
      </ion-input>
    </ion-item>
    <!--NOMBRE ADULTO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Dirección Referencia 1</ion-label>
      <ion-input type="text" [(ngModel)]="data.edadAdulto1" name="edadAdulto1" >
      </ion-input>
    </ion-item>
    <!--TELEFONO ADULTO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-phone-portrait" md="md-phone-portrait"></ion-icon>  No. Teléfono Referencia 1</ion-label>
      <ion-input type="text" [(ngModel)]="data.telefonoAdulto1" name="telefonoAdulto1" >
      </ion-input>
    </ion-item>
    <!--NOMBRE ADULTO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Nombre Referencia 2</ion-label>
      <ion-input type="text" [(ngModel)]="data.nombreAdulto2" name="nombreAdulto2" >
      </ion-input>
    </ion-item>
    <!--NOMBRE ADULTO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Dirección Referencia 2</ion-label>
      <ion-input type="text" [(ngModel)]="data.edadAdulto2" name="edadAdulto2" >
      </ion-input>
    </ion-item>
    <!--TELEFONO ADULTO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-phone-portrait" md="md-phone-portrait"></ion-icon>  No. Teléfono Referencia 2</ion-label>
      <ion-input type="text" [(ngModel)]="data.telefonoAdulto2" name="telefonoAdulto2" >
      </ion-input>
    </ion-item>
    <!--NOMBRE ADULTO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Nombre Referencia 3</ion-label>
      <ion-input type="text" [(ngModel)]="data.nombreAdulto3" name="nombreAdulto3" >
      </ion-input>
    </ion-item>
    <!--NOMBRE ADULTO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Dirección Referencia 3</ion-label>
      <ion-input type="text" [(ngModel)]="data.edadAdulto3" name="edadAdulto3" >
      </ion-input>
    </ion-item>
    <!--TELEFONO ADULTO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-phone-portrait" md="md-phone-portrait"></ion-icon>  No. Teléfono Adulto 3</ion-label>
      <ion-input type="text" [(ngModel)]="data.telefonoAdulto3" name="telefonoAdulto3" >
      </ion-input>
    </ion-item>
  </div>

  <div *ngIf="previousNext == 'page2'" >
    <ion-item no-lines>
      <p item-start><strong>Gatos:</strong> Se le debe vacunar una vez al año y desparasitar cada 6 meses. 
        También debe mantenerlo libre de pulgas y garrapatas, para evitar enfermedades y alergias.<br>
      <strong>Disciplina y educación:</strong> Ser constante en las indicaciones que se le dan al gato para 
      que siempre haga sus necesidades en su caja de arena.<br>
      <strong>Refugio:</strong> El gato no debe dejar la protección del hogar.<br><br>
      Los animales tienen sentimientos y son inteligentes. <strong>El dueño es el responsable</strong> 
      de guiar y educar a la mascota para que haya una buena relación y que sea obediente.
      </p>
    </ion-item>

    <!--PREGUNTA NO. 3-->
    <ion-item no-lines>
      <p item-start>¿Que tipo de mascota ha tenido antes?, Y si tiene adjunte fotos.</p>
    </ion-item>
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Pregunta No. 1</ion-label>
      <ion-textarea type="text" [(ngModel)]="data.pregunta1" name="pregunta1">
      </ion-textarea>
    </ion-item>
    <!--PREGUNTA NO. 3-->
    <ion-item no-lines>
      <p item-start>Si es un perro, ¿Usted cree que se lleve bien con gatos?</p>
    </ion-item>
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Pregunta No. 2</ion-label>
      <ion-textarea type="text" [(ngModel)]="data.pregunta2" name="pregunta2">
      </ion-textarea>
    </ion-item>
    <!--PREGUNTA NO. 3-->
    <ion-item no-lines>
      <p item-start>¿Que tipo de gato prefiere cachorro o adulto?</p>
    </ion-item>
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Pregunta No. 3</ion-label>
      <ion-textarea type="text" [(ngModel)]="data.pregunta3" name="pregunta3">
      </ion-textarea>
    </ion-item>
    <!--PREGUNTA NO. 3-->
    <ion-item no-lines>
      <p item-start>¿Adoptaria un gatito con alguna discapacidad física?</p>
    </ion-item>
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Pregunta No. 4</ion-label>
      <ion-textarea type="text" [(ngModel)]="data.pregunta4" name="pregunta4">
      </ion-textarea>
    </ion-item>
    <!--PREGUNTA NO. 3-->
    <ion-item no-lines>
      <p item-start>¿Cuantas personas conforman su familia? Especifique las edades</p>
    </ion-item>
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Pregunta No. 5</ion-label>
      <ion-textarea type="text" [(ngModel)]="data.pregunta5" name="pregunta5">
      </ion-textarea>
    </ion-item>
    <!--PREGUNTA NO. 3-->
    <ion-item no-lines>
      <p item-start>¿Hay alguna persona en su casa alérgica a los gatos o a algún otro animal?</p>
    </ion-item>
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Pregunta No. 6</ion-label>
      <ion-textarea type="text" [(ngModel)]="data.pregunta6" name="pregunta6">
      </ion-textarea>
    </ion-item>
    <!--PREGUNTA NO. 2-->
    <ion-item no-lines>
      <p item-start> ¿Están todos totalmente de acuerdo y deseando hacer esta adopción?</p>
    </ion-item>
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Pregunta No. 7</ion-label>
      <ion-select [(ngModel)]="data.pregunta7" name="pregunta7">
        <ion-option value="Si">Si</ion-option>
        <ion-option value="No">No</ion-option>
      </ion-select>
    </ion-item>
    <!--PREGUNTA NO. 1-->
    <ion-item no-lines>
      <p item-start>Tipo de Vivienda</p>
    </ion-item>
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Pregunta No. 8</ion-label>
      <ion-select [(ngModel)]="data.pregunta8" name="pregunta8">
        <ion-option value="Casa">Casa</ion-option>
        <ion-option value="Apartamento">Apartamento</ion-option>
        <ion-option value="Finca">Finca</ion-option>
        <ion-option value="Otro">Otro</ion-option>
      </ion-select>
    </ion-item>
    <!--PREGUNTA NO. 2-->
    <ion-item no-lines>
      <p item-start> ¿Es tu propiedad?</p>
    </ion-item>
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Pregunta No. 9</ion-label>
      <ion-select [(ngModel)]="data.pregunta9" name="pregunta9">
        <ion-option value="Si">Si</ion-option>
        <ion-option value="No">No</ion-option>
      </ion-select>
    </ion-item>
    <!--PREGUNTA NO. 3-->
    <ion-item no-lines>
      <p item-start>¿En donde estará el gato durante el día?</p>
    </ion-item>
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Pregunta No. 10</ion-label>
      <ion-textarea type="text" [(ngModel)]="data.pregunta10" name="pregunta10">
      </ion-textarea>
    </ion-item>
    <!--PREGUNTA NO. 3-->
    <ion-item no-lines>
      <p item-start>¿En donde dormirá el gato?</p>
    </ion-item>
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Pregunta No. 11</ion-label>
      <ion-textarea type="text" [(ngModel)]="data.pregunta11" name="pregunta11">
      </ion-textarea>
    </ion-item>
    <!--PREGUNTA NO. 3-->
    <ion-item no-lines>
      <p item-start>¿Quien es su médico veterinario?</p>
    </ion-item>
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Pregunta No. 12</ion-label>
      <ion-textarea type="text" [(ngModel)]="data.pregunta12" name="pregunta12">
      </ion-textarea>
    </ion-item>
    <!--PREGUNTA NO. 3-->
    <ion-item no-lines>
      <p item-start>¿Tiene patio o jardín?</p>
    </ion-item>
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Pregunta No. 13</ion-label>
      <ion-textarea type="text" [(ngModel)]="data.pregunta13" name="pregunta13">
      </ion-textarea>
    </ion-item>
    <!--PREGUNTA NO. 3-->
    <ion-item no-lines>
      <p item-start>¿Habrá siempre alguien en casa para que el animal no esté solo?</p>
    </ion-item>
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Pregunta No. 14</ion-label>
      <ion-textarea type="text" [(ngModel)]="data.pregunta14" name="pregunta14">
      </ion-textarea>
    </ion-item>
    <!--PREGUNTA NO. 3-->
    <ion-item no-lines>
      <p item-start>¿Que tipo de comida se le dará al gato?</p>
    </ion-item>
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Pregunta No. 15</ion-label>
      <ion-textarea type="text" [(ngModel)]="data.pregunta15" name="pregunta15">
      </ion-textarea>
    </ion-item>
    <!--PREGUNTA NO. 3-->
    <ion-item no-lines>
      <p item-start>¿Considera usted que no hay forma de que el gato se pueda salir de su casa?</p>
    </ion-item>
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Pregunta No. 16</ion-label>
      <ion-textarea type="text" [(ngModel)]="data.pregunta16" name="pregunta16">
      </ion-textarea>
    </ion-item>
  </div>

  <div *ngIf="previousNext == 'page3'">
    <ion-item no-lines>
      <p item-start>POR FAVOR CUANDO RECIBA A SU MASCOTA LLEVELO A DONDE UN VETERINARIO A QUE LE HAGA UN CHEQUEO GENERAL.<br>
      LOS GATOS DEBEN COMER SOLO CONCENTRADO Y AGUA, NO LES DE LECHE DE VACA NI SOBRAS.<br>
      LOS GATOS NO DEBEN DEJAR EL HOGAR DONDE VIVEN YA QUE PUEDEN SER ATACADOS POR OTROS GATOS, PERSONAS O PERROS.<br>
      <strong>Se pide un donativo de Q200 por gato esto incluye su castración.</strong>
      </p>
    </ion-item>
    <!--COMPROMISO 1-->
    <ion-card-content>
      Si el gato no esta esterilizado me comprometo a llevarlo a la jornada donde me pidan y cumplir con este requisito 
      indispensable, sino devolveré el animal sin ningún tipo de compensación a mi persona
    </ion-card-content>
    <ion-item no-lines>
      <ion-label>Acepto</ion-label>
      <ion-checkbox name="compromiso1" [(ngModel)]="data.compromiso1" item-start></ion-checkbox>
    </ion-item>
    <!--COMPROMISO 2-->
    <ion-card-content>
      Estoy de acuerdo en que las personas que me entregan la mascota en adopción puedan efectuar llamadas y visitas a mi 
      residencia para constatar el estado de dicha mascota.  En caso se estableciera mal trato o descuido, 
      estoy de acuerdo en que la recojan sin ningún pago a mi persona.  Y también me comprometo a devolver la mascota 
      si por alguna razón no se adapta en mi hogar o en caso de que yo ya no puedo tenerla.
    </ion-card-content>
    <ion-item no-lines>
      <ion-label>Acepto</ion-label>
      <ion-checkbox name="compromiso2" [(ngModel)]="data.compromiso2" item-start></ion-checkbox>
    </ion-item>
    <!-- ADJUNTAR FOTO DE DPI -->
    <div>
      <img src="{{ data.firma }}" id="imgAvatar" alt="Avatar" class="image-slides">
    </div>
    <div class="upload-btn-wrapper">
      <button ion-button icon-start type="button">
        <ion-icon ios="ios-image" md="md-image"></ion-icon>
        Documento de Identificación
      </button>
    <input type="file" id="avatar" (change)="uploadImage($event,'avatar')"/>
    </div>
    <!-- ADJUNTAR FOTO DE MASCOTA -->
    <div>
      <img src="{{ data.picture }}" id="imgAvatar2" alt="Avatar2" class="image-slides">
    </div>
    <div class="upload-btn-wrapper">
      <button ion-button icon-start type="button">
        <ion-icon ios="ios-image" md="md-image"></ion-icon>
        Adjuntar Foto 
      </button>
    <input type="file" id="avatar2" (change)="uploadImage2($event,'avatar2')"/>
    </div>
    </div>

    <ion-row *ngIf="previousNext == 'page1'">
      <ion-col>
        <button ion-button block class="button" color="btnform" icon-start disabled>
          <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
          Atras
        </button>
      </ion-col>
      <ion-col>
        <button ion-button block class="button" color="btnform" icon-start (click)="previousNextForm('page2')">
          <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
          Siguiente
        </button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="previousNext == 'page2'">
      <ion-col>
        <button ion-button block class="button" color="btnform" icon-start (click)="previousNextForm('page1')">
          <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
          Atras
        </button>
      </ion-col>
      <ion-col>
        <button ion-button block class="button" color="btnform" icon-start (click)="previousNextForm('page3')">
          <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
          Siguiente
        </button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="previousNext == 'page3'">
      <ion-col>
        <button ion-button block class="button" color="btnform" icon-start (click)="previousNextForm('page2')">
          <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
          Atras
        </button>
      </ion-col>
      <ion-col>
        <button ion-button block class="button" color="primary" icon-start [disabled]="disabledBtn">
          <ion-icon ios="ios-send" md="md-send"></ion-icon>
          Envíar Encuesta
        </button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>