<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
    <!-- ION TOOLBAR -->
  <ion-toolbar *ngIf="parameter" color="{{ navColor!=null?navColor:'primary' }}">
    <ion-segment [(ngModel)]="selectItem" color="white">
      <ion-segment-button value="actualizar">
        Actualizar
      </ion-segment-button>
      <ion-segment-button value="detalle">
        Detalles
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form *ngIf="selectItem == 'actualizar'" (ngSubmit)="saveChanges()" padding>
    <div>
      <img src="{{ data.picture }}" id="imgAvatar" alt="Avatar" class="image-slides">
      </div>
      <!--IMAGEN-->
      <div class="upload-btn-wrapper2" *ngIf="data.id">
        <button ion-button icon-start type="button">
          <ion-icon ios="ios-image" md="md-image"></ion-icon>
          Subir Imagen
        </button>
      <input type="file" id="avatar" (change)="uploadImage($event,'avatar')"/>
    </div>
    <!--TITULO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Título</ion-label>
      <ion-input type="text" name="name" [(ngModel)]="data.title" required>
      </ion-input>
    </ion-item>
    <!--DESCRIPCION-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Descripción</ion-label>
      <ion-textarea type="text" name="description" [(ngModel)]="data.description" required>
      </ion-textarea>
    </ion-item>
    <!--YOUTUBE-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="logo-youtube" md="logo-youtube"></ion-icon>  Video</ion-label>
      <ion-input type="text" name="link" [(ngModel)]="data.link">
      </ion-input>
    </ion-item>

    <button ion-button block type="submit" icon-start [disabled]="btnDisabled">
      <ion-icon ios="ios-archive" md="md-archive"></ion-icon>
      Guardar Cambios
    </button>
    <button *ngIf="data.id" ion-button block type="button" color="danger" icon-start (click)="delete(data.id)">
      <ion-icon ios="ios-trash" md="md-trash"></ion-icon>Eliminar
    </button>
  </form>

  <div *ngIf="selectItem == 'detalle'">
    <div id='iframe' *ngIf="data.link">
      <iframe width="100%" height="250px;" [src]="data.link | sanitizer"
      frameborder="0" allowfullscreen></iframe>
    </div>

    <!-- INFORMACION -->
    <div>
      <h2 class="text center" *ngIf="data.title">{{data.title}}</h2>
      <p class="text center" *ngIf="data.description">{{data.description}}
      </p>
    </div>

    <!-- COMENTARIOS DE USUARIOS -->
    <div style="display: block; max-width: 800px; height: auto; margin-left: auto; margin-right: auto;">
      <ion-card *ngFor="let c of comments">
      <ion-item>
        <ion-avatar item-start>
          <img src="{{ c.picture }}">
        </ion-avatar>
        <h2>{{ c.user }}</h2>
        <p>{{ c.fecha }}</p>
      </ion-item>
      <ion-card-content>
        <p>{{ c.comment }}</p>
      </ion-card-content>
      </ion-card>
    </div>
  </div>
  
</ion-content>