<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ tip.title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div style="display: block; max-width: 600px; height: auto; margin-left: auto; margin-right: auto;">
    <!-- INFORMACION DE PRODUCTOS -->
    <div>
      <img src="{{ tip.picture }}" 
      style="display: block; width: 200px; height: auto; margin-left: auto; margin-right: auto;">
      <p class="text center">
        <strong>
          <ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Descripción:
        </strong> {{tip.description}}
      </p>
    </div><br/>

    <!-- COMENTARIOS DE USUARIOS -->
    <div>
      <ion-card *ngFor="let c of comments">
      <ion-item>
        <ion-avatar item-start>
          <img src="{{ c.picture }}">
        </ion-avatar>
        <h2>{{ c.user }}</h2>
        <p>{{ c.fecha }}</p>
      </ion-item>
      <ion-card-content>
        <p>{{ c.comment }}</p>
      </ion-card-content>
      </ion-card>
    </div>
  </div>

  <!--<ion-fab right bottom>
    <button ion-fab (click)="openPage(tip.id)">
      <ion-icon ios="ios-chatbubbles" md="md-chatbubbles"></ion-icon>
    </button>
  </ion-fab>-->
</ion-content>